Repository middas-0706/js-data-connectors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,mjs}": [
    "eslint --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.mjs"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix(data-marts): keep a removed automatic aggregation removed (#1647)
  .changeset/6990-automatic-aggregations-you-can-change.md
  apps/backend/src/data-marts/controllers/spec/report-openapi.ts
  apps/backend/src/data-marts/dto/domain/create-report.command.ts
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.ts
  apps/backend/src/data-marts/dto/domain/report.dto.ts
  apps/backend/src/data-marts/dto/domain/update-report.command.ts
  apps/backend/src/data-marts/dto/presentation/create-report-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/report-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-report-request-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/auto-aggregation-opt-out.schema.ts
  apps/backend/src/data-marts/entities/report.entity.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.spec.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/src/data-marts/use-cases/update-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-report.service.ts
  apps/backend/src/migrations/1790156789783-add-auto-aggregation-opt-out-to-report.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditForm/ReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useEmailReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useReportForm.ts
  apps/web/src/features/data-marts/reports/shared/model/mappers/report.mapper.ts
  apps/web/src/features/data-marts/reports/shared/model/types/data-mart-report.ts
  apps/web/src/features/data-marts/reports/shared/services/types/create-report.request.dto.ts
  apps/web/src/features/data-marts/reports/shared/services/types/report-response.dto.ts
  apps/web/src/features/data-marts/reports/shared/services/types/update-report.request.dto.ts
  apps/web/src/features/data-marts/shared/types/output-config.ts
  apps/web/src/features/data-marts/shared/utils/auto-aggregation-opt-out.test.ts
  apps/web/src/features/data-marts/shared/utils/auto-aggregation-opt-out.ts
  apps/web/src/features/data-marts/shared/utils/auto-collapse.test.ts
  apps/web/src/features/data-marts/shared/utils/auto-collapse.ts
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): warn when a join changes how a calculated field's number reads (#1643)
  .changeset/6926-cross-mart-calculated-field-grain.md
  apps/backend/src/data-marts/calculated-fields/calculated-field-validator.service.spec.ts
  apps/backend/src/data-marts/calculated-fields/calculated-field-validator.service.ts
  apps/backend/src/data-marts/calculated-fields/calculated-field.utils.ts
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.ts
  apps/backend/src/data-marts/calculated-fields/join-grain.spec.ts
  apps/backend/src/data-marts/calculated-fields/join-grain.ts
  apps/backend/src/data-marts/calculated-fields/set-quantifier.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/data-storage-types/blending/metric-sleeve.planner.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/dto/domain/blendable-schema.dto.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.ts
  apps/backend/src/data-marts/use-cases/validate-formula.service.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/FormulaEditor.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/formula-violation-ranges.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/useFormulaDiagnostics.test.ts
  docs/getting-started/setup-guide/calculated-fields.md
  docs/getting-started/setup-guide/joinable-data-marts.md
  docs/getting-started/setup-guide/mcp.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(facebook): resolve short links with nested paths in insights (#1651)
  .changeset/6991-facebook-nested-short-links.md
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/test/Core/ShortLinksUtils.test.js
  packages/connectors/test/Sources/FacebookMarketing/Source.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): show Manual Run in the Input Source card header (#1652)
  .changeset/6992-manual-run-in-input-source-header.md
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/ConnectorManualRunButton.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/ConnectorManualRunButton.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/index.ts
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
  docs/getting-started/setup-guide/connector-data-mart.md
  docs/res/screens/Manual-run.png
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(web): wait for the section error effect before collapsing in FormSection test (#1654)
  apps/web/src/shared/components/FormSection/FormSection.test.tsx
Due: none

fix(web): reload a stale tab instead of showing "Something went wrong" (#1653)
  .changeset/6980-reload-on-stale-chunk.md
  apps/web/src/app/reload-on-stale-chunk.test.ts
  apps/web/src/app/reload-on-stale-chunk.ts
  apps/web/src/components/errors/LayoutErrorBoundary.test.tsx
  apps/web/src/components/errors/LayoutErrorBoundary.tsx
  apps/web/src/main.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): count route error screens in analytics instead of handling stale chunks (#1659)
  .changeset/6980-reload-on-stale-chunk.md
  apps/web/src/app/reload-on-stale-chunk.test.ts
  apps/web/src/app/reload-on-stale-chunk.ts
  apps/web/src/components/errors/LayoutErrorBoundary.test.tsx
  apps/web/src/components/errors/LayoutErrorBoundary.tsx
  apps/web/src/components/errors/RootErrorBoundary.tsx
  apps/web/src/components/errors/trackRouteError.test.ts
  apps/web/src/components/errors/trackRouteError.ts
  apps/web/src/main.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): preview Data Mart rows from Data Setup (#1642)
  .changeset/6622-data-mart-preview.md
  apps/backend/src/data-marts/controllers/data-mart-preview.controller.spec.ts
  apps/backend/src/data-marts/controllers/data-mart-preview.controller.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/presentation/preview-data-mart-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/preview-data-mart-response-api.dto.ts
  apps/backend/src/data-marts/services/project-billing/report-run-authorization-boundary.spec.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.ts
  apps/docs/astro.config.mjs
  apps/docs/data/meta-content.csv
  apps/web/src/features/data-marts/edit/components/DataMartPreview/DataMartPreviewPanel.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartPreview/DataMartPreviewPanel.tsx
  apps/web/src/features/data-marts/edit/components/DataMartPreview/PreviewResultsTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartPreview/preview-filter-types.ts
  apps/web/src/features/data-marts/edit/components/DataMartPreview/useDataMartPreview.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/SchemaUnsavedChangesDialog/SchemaUnsavedChangesDialog.tsx
  apps/web/src/features/data-marts/edit/model/hooks/use-schema-unsaved-guard.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.test.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/request/index.ts
  apps/web/src/features/data-marts/shared/types/api/request/preview-data-mart.request.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/index.ts
  apps/web/src/features/data-marts/shared/types/api/response/preview-data-mart.response.dto.ts
  docs/getting-started/setup-guide/data-preview.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(connectors): refresh TikTok Ads guides and align Facebook Ads (#1660)
  apps/docs/data/meta-content.csv
  packages/connectors/package.json
  packages/connectors/scripts/generate-tiktok-fields-doc.mjs
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/README.md
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/README.md
  packages/connectors/src/Sources/TikTokAds/TROUBLESHOOTING.md
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_bq.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_connector.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_currentday.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_daterange.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_incremental.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_publish.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_reimportwindow.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_ads_successrun.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_advid.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_approved.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_auth_code.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_createapp.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_developer.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_filldata.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_get.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_idandsecret.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_newdatamart.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_queryresult.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_storage.png
  packages/connectors/src/Sources/TikTokAds/res/tiktok_url.png
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): add data-stack Data Mart icons in one ungrouped grid (#1661)
  .changeset/7004-custom-data-mart-icons.md
  apps/backend/src/data-marts/enums/data-mart-icon.enum.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/data-mart-icons.ts
  apps/web/src/features/data-marts/shared/enums/data-mart-icon.enum.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): show the reports count on Models canvas cards (#1662)
  apps/backend/src/data-marts/dto/domain/model-canvas.dto.ts
  apps/backend/src/data-marts/dto/presentation/model-canvas-response-api.dto.ts
  apps/backend/src/data-marts/mappers/model-canvas.mapper.ts
  apps/backend/src/data-marts/services/report.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/get-model-canvas-data-marts.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-model-canvas-data-marts.service.ts
  apps/backend/test/report.e2e-spec.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(tiktok): refresh OAuth and developer portal screenshots (#1663)
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): keep Models canvas count badges on one line while they fit (#1664)
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/shared/canvas/measure-badge-text.test.ts
  apps/web/src/features/data-marts/shared/canvas/measure-badge-text.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(idp): return invalid_grant instead of 500 for expired MCP refresh tokens (#1630)
  .changeset/6958-mcp-refresh-token-invalid-grant.md
  apps/backend/src/idp/oauth/controllers/oauth-token.controller.spec.ts
  apps/backend/src/idp/oauth/controllers/oauth-token.controller.ts
  apps/backend/src/idp/utils/is-authentication-error.spec.ts
  apps/backend/src/idp/utils/is-authentication-error.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.mcpOAuth.test.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/dto/oauthDto.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp): add RFC 9207 issuer to project-specific MCP OAuth callbacks (#1631)
  .changeset/6961-mcp-oauth-project-issuer.md
  apps/backend/src/idp/oauth/controllers/oauth-authorization.controller.spec.ts
  apps/backend/src/idp/oauth/controllers/oauth-authorization.controller.ts
  apps/backend/src/idp/oauth/controllers/oauth-metadata.controller.spec.ts
  apps/backend/src/idp/oauth/controllers/oauth-metadata.controller.ts
  apps/backend/src/idp/oauth/oauth-request.validator.spec.ts
  apps/backend/src/idp/oauth/oauth-request.validator.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): open fields and relationships from Models canvas card badges (#1666)
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/model-canvas/components/CardRelationshipsSection.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.ts
  apps/web/src/shared/components/AvailabilitySheet/AvailabilitySheet.tsx
  apps/web/src/shared/components/AvailabilitySheet/data-mart-sharing-texts.ts
  apps/web/src/shared/components/AvailabilitySheet/index.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): give every canvas card part its own setting and keep the zoom on toggles (#1667)
  .changeset/6983-models-canvas-unconnected-filter-and-field-labels.md
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-object-label-options.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/object-label-options.ts
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.test.tsx
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
  apps/web/src/features/data-marts/shared/canvas/object-labels.test.ts
  apps/web/src/features/data-marts/shared/canvas/object-labels.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): let a joined calculated field be hidden from reports (#6925) (#1665)
  .changeset/6925-hide-joined-calculated-field.md
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): restyle the canvas settings menu to the new design (#1668)
  .changeset/6983-models-canvas-unconnected-filter-and-field-labels.md
  .changeset/6999-models-canvas-card-style.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.test.tsx
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
  apps/web/src/features/data-marts/shared/canvas/erd-fields-section.tsx
  apps/web/src/features/data-marts/shared/canvas/erd-fields.ts
  apps/web/src/features/data-marts/shared/canvas/object-labels.ts
  apps/web/src/features/data-marts/shared/canvas/view-mode.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): show the declarative connectors demo in the release note (#1670)
  .changeset/6988-custom-nocode-connectors.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(deps): resolve production audit vulnerabilities in multer and undici (#1672)
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.mjs

docs(changeset): refresh the Models canvas filter and field label screenshots (#1673)
  .changeset/6983-models-canvas-unconnected-filter-and-field-labels.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changelog): add the 0.36.0 what's-new video (#1674)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changelog): restyle the declarative connectors demo in the 0.36.0 notes (#1678)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): name the provider's error and the imported node in run history (#1676)
  .changeset/6988-connector-error-messages.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/tests/AbstractConnector.test.js
  packages/connectors/tests/AbstractSource.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changelog): restyle the 0.35.0 what's-new video (#1677)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(connectors): say when to choose a range date strategy over day-by-day (#1682)
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): use the Joinable Data Marts link icon on the relationships badge (#1685)
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
Due: none

fix(docs): render a list that follows an embedded video (#1686)
  apps/docs/scripts/sync-docs.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix(deps): resolve audit vulnerabilities in brace-expansion, fast-uri, ip-address and moment (#1687)
  package-lock.json
Due: prettier --write --config ./prettier.config.mjs

fix(data-marts): show out-of-range dates in the Data Mart preview instead of failing (#1683)
  .changeset/7026-preview-out-of-range-dates.md
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/preview-data-mart.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

ci: shard backend unit tests across 3 jobs (#1680)
  .github/workflows/test-owox.yml
Due: prettier --write --config ./prettier.config.mjs
