Repository middas-0706/js-data-connectors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: report graceful shutdown integration (#478)
  apps/backend/src/common/scheduler/scheduler.module.ts
  apps/backend/src/data-marts/connector-types/connector-message/schemas/types/message-status.schema.ts
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

refactor: streamline package.json formatting for release pr (#483)
  apps/web/package.json
  package.json
  tools/format-package-info.mjs
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat: implement universal type converter for storage systems (#470)
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat: Increase timeout for SQL validation up to 3 min (#485)
  .changeset/increase-timeout-configuration.md
  apps/backend/src/bootstrap.ts
  apps/backend/src/common/middleware/operation-timeout.middleware.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.test.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(web): Refactor Looker Studio Destination Components (#486)
  apps/web/src/features/data-destination/shared/model/hooks/index.ts
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestinationVisibility.ts
  apps/web/src/features/data-destination/shared/model/hooks/useDataDestinationsWithReports.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/AddReportButton.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportListRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/ReportTableRenderer.tsx
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/index.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/LookerStudioReportCard.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportCard/hooks/useLookerStudioReport.ts
  apps/web/src/features/data-marts/reports/list/model/hooks/index.ts
  apps/web/src/features/data-marts/reports/list/model/hooks/useColumnVisibility.ts
  apps/web/src/features/data-marts/reports/list/model/hooks/useEditModal.ts
  apps/web/src/features/data-marts/reports/list/model/hooks/useReportModals.ts
  apps/web/src/features/data-marts/reports/list/model/hooks/useReportSidesheet.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeader.tsx
  apps/web/src/shared/components/ListItemCard/ListItemCard.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/common/index.ts
  packages/ui/src/components/common/switch-item-card.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat(data-marts): HTTP Data streaming on report level (#6759) (#1450)
  .changeset/6759-http-data-report-level.md
  apps/backend/src/data-marts/controllers/external/http-data.controller.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.api.ts
  apps/backend/src/data-marts/controllers/spec/external/http-data.openapi.spec.ts
  apps/backend/src/data-marts/dto/domain/stream-http-report-data.command.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/http-data-query.schema.ts
  apps/backend/src/data-marts/dto/schemas/http-data-run-metadata.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/http-data-run-metadata.schema.ts
  apps/backend/src/data-marts/mappers/http-data.mapper.spec.ts
  apps/backend/src/data-marts/mappers/http-data.mapper.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/http-data/http-data-request-validator.service.spec.ts
  apps/backend/src/data-marts/services/http-data/http-data-request-validator.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/test/http-data-report-cross-project.e2e-spec.ts
  apps/backend/test/http-data.e2e-spec.ts
  docs/api/openapi.md
  packages/api-client/src/auth.ts
  packages/api-client/src/client.ts
  packages/api-client/src/data-marts.ts
  packages/api-client/src/destinations.ts
  packages/api-client/src/index.ts
  packages/api-client/src/reports.test.ts
  packages/api-client/src/reports.ts
  packages/api-client/src/storages.ts
  packages/api-client/src/traversal.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: add changeset for Google Sheets extension fix (#6769) (#1462)
  .changeset/6769-extension-reset-columns-on-mart-switch.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): keep NULL rows for negative report filters (#1442)
  .changeset/6746-null-inclusive-negative-filters.md
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/redshift/services/redshift-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/snowflake/services/snowflake-clause-renderer.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.spec.ts
  apps/backend/src/data-marts/data-storage-types/utils/sql-clause-renderer.ts
  apps/backend/test/integration/athena.integration.ts
  apps/backend/test/integration/bigquery.integration.ts
  apps/backend/test/integration/databricks.integration.ts
  apps/backend/test/integration/redshift.integration.ts
  apps/backend/test/integration/snowflake.integration.ts
  docs/getting-started/setup-guide/mcp.md
  docs/getting-started/setup-guide/output-controls.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(backend): align Redshift/Snowflake sort assertions with NULLS FIRST (#1475)
  apps/backend/test/integration/redshift.integration.ts
  apps/backend/test/integration/snowflake.integration.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

[6749] Allow explicit draft Data Mart catalog listing (#1465)
  .changeset/6696-mcp-draft-data-mart-catalog.md
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): classify customer-actionable failures as warnings (#1470)
  .changeset/6719-connector-error-warning-classification.md
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-output-capture.service.spec.ts
  apps/backend/src/data-marts/connector-types/connector-message/services/connector-output-capture.service.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/utils/run-error-message.spec.ts
  apps/backend/src/data-marts/utils/run-error-message.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RawLogsView.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/RawLogsView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  packages/connectors/src/Configs/NodeJs/NodeJsConfig.js
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Core/Utils/OAuthUtils.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/TikTokAds/TiktokMarketingApiProvider.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/connector-runner.js
  packages/connectors/test/Configs/NodeJsConfig.test.js
  packages/connectors/test/Core/AbstractSource.test.js
  packages/connectors/test/Core/OAuthUtils.test.js
  packages/connectors/test/Sources/FacebookMarketing/Source.test.js
  packages/connectors/test/Sources/GoogleAds/Source.test.js
  packages/connectors/test/Sources/TikTokAds/warningClassification.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): redesign Model Canvas as an ERD (compact/detailed views, draggable nodes, brand styling) (#1476)
  .changeset/6763-model-canvas-erd-redesign.md
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowEdge.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/dagre-layout.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/edge-cardinality.test.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/edge-cardinality.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/path-point.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/rounded-path.test.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/rounded-path.ts
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas.ts
  apps/web/src/features/data-marts/shared/canvas/constants.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(mcp): document what costs credits and add MCP Query Run unit #1478
  docs/getting-started/billing/consumption-units.md
  docs/getting-started/setup-guide/mcp.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

ci(docs): run docs build for every file the docs site is assembled from (#1463)
  .github/workflows/test-docs.yml
Due: prettier --write --config ./prettier.config.mjs

feat(web): Joinable Data Marts in the ERD design, canvas layout persistence, object labels and diagram filters (#1479)
  .changeset/6763-model-canvas-erd-redesign.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipFlowNode.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-filters.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useRelationshipDefinitionTypes.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowEdge.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/edge-cardinality.test.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/edge-cardinality.ts
  apps/web/src/features/data-marts/model-canvas/model/object-labels.test.ts
  apps/web/src/features/data-marts/model-canvas/model/object-labels.ts
  apps/web/src/features/data-marts/shared/canvas/constants.ts
  apps/web/src/features/data-marts/shared/canvas/definition-type-accent.ts
  apps/web/src/features/data-marts/shared/canvas/edge-arrow.tsx
  apps/web/src/features/data-marts/shared/canvas/edge-marker-id.ts
  apps/web/src/features/data-marts/shared/canvas/erd-card.tsx
  apps/web/src/features/data-marts/shared/canvas/owox-palette.ts
  apps/web/src/features/data-marts/shared/types/data-mart-definition-type.model.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(data-marts): Data Last Updated user guide (#1482)
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/data-last-updated.md
  docs/getting-started/setup-guide/mcp.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-quality): optimize config saves and relationship SQL (#1486)
  apps/backend/src/data-marts/data-quality/__snapshots__/data-quality-check-compiler.spec.ts.snap
  apps/backend/src/data-marts/data-quality/data-quality-check-compiler.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-check-compiler.ts
  apps/backend/src/data-marts/data-quality/data-quality-snapshot-table-reference.service.spec.ts
  apps/backend/src/data-marts/data-quality/data-quality-snapshot-table-reference.service.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.test.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/components/DataQualityResultCard.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityResultCard.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/DataQualityRunHistoryDetails.test.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat(data-marts): allow sorting reports by Unique Count (#1473)
  .changeset/6764-sort-by-unique-count.md
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.spec.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/abstract-blended-query-builder.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.aggregation.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.invariant.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/shared/utils/aggregation-labels.test.ts
  apps/web/src/features/data-marts/shared/utils/aggregation-labels.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(auth): disable Intercom chat in view-only sessions (#1483)
  apps/backend/src/idp/controllers/intercom.controller.spec.ts
  apps/backend/src/idp/controllers/intercom.controller.ts
  apps/web/src/app/intercom/IntercomChat.test.tsx
  apps/web/src/app/intercom/IntercomChat.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat(data-marts): show report SQL without edit access (#1489)
  .changeset/6776-show-sql-for-business-users.md
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
  docs/project/ownership-and-sharing.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-quality): verify project balance before execution (#1490)
  apps/backend/src/data-marts/dto/schemas/data-quality/data-quality-config.schema.spec.ts
  apps/backend/src/data-marts/enums/data-quality-summary-state.enum.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.test.ts
  apps/web/src/features/data-marts/data-quality/api/data-quality.service.ts
  apps/web/src/features/data-marts/data-quality/components/DataQualityCompactStatusLink.test.tsx
  apps/web/src/features/data-marts/data-quality/components/DataQualityCompactStatusLink.tsx
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.test.ts
  apps/web/src/features/data-marts/data-quality/model/data-quality.model.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/utils.ts
  apps/web/src/features/data-marts/shared/components/RunActivityIndicator/RunActivityIndicator.test.tsx
  apps/web/src/features/data-marts/shared/types/data-quality-summary.types.ts
  apps/web/src/features/data-marts/shared/utils/data-quality-status.test.ts
  apps/web/src/features/data-marts/shared/utils/data-quality-status.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat(web): add FieldWithActions component for enhanced service account email handling (#1477)
  .changeset/6576-copy-service-account-button.md
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/FormDescriptions/DocumentLinkDescription.test.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/FormDescriptions/DocumentLinkDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/LegacyGoogleBigQueryFields.tsx
  packages/ui/src/components/common/copyable-field.tsx
  packages/ui/src/components/common/field-with-actions.tsx
  packages/ui/src/components/common/index.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): enhance onboarding UI with new styles and storage preview functionality (#1471)
  .changeset/6760-onboarding-update-dwh-block.md
  packages/idp-owox-better-auth/src/resources/templates/pages/onboarding.ejs
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): share new Data Marts for maintenance by default (#1492)
  .changeset/6721-shared-for-maintenance-default.md
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/entities/sharing-fields.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/sync-legacy-data-mart.service.ts
  apps/backend/test/data-mart-default-sharing.e2e-spec.ts
  apps/backend/test/ownership.e2e-spec.ts
  docs/project/ownership-and-sharing.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): refresh Data Last Updated with every data-delivering run (#1484)
  .changeset/6750-data-last-updated-date.md
  apps/backend/src/data-marts/dto/schemas/data-mart-run/data-mart-run-report-definition.schema.ts
  apps/backend/src/data-marts/dto/schemas/http-data-run-metadata.schema.ts
  apps/backend/src/data-marts/services/data-mart.service.spec.ts
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/services/report-run.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/services/report.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/services/source-data-last-updated.service.spec.ts
  apps/backend/src/data-marts/services/source-data-last-updated.service.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.spec.ts
  apps/backend/src/data-marts/use-cases/query-data-mart.service.ts
  apps/backend/src/data-marts/use-cases/refresh-data-mart-data-last-updated.service.spec.ts
  apps/backend/src/data-marts/use-cases/refresh-data-mart-data-last-updated.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/web/src/features/data-marts/model-canvas/components/DataLastUpdatedCanvasIcon.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/use-refresh-data-last-updated.ts
  apps/web/src/features/data-marts/shared/canvas/definition-type-accent.ts
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/DataMartBulkActions.tsx
  docs/getting-started/setup-guide/data-last-updated.md
  docs/getting-started/setup-guide/mcp.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): name joined fields as "Field (Data Mart)" in Google Sheets (#1491)
  .changeset/6729-joined-field-naming.md
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.spec.ts
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/column-plan-builder.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-storage-types/utils/report-data-headers.utils.spec.ts
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.spec.ts
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.ts
  apps/backend/src/data-marts/services/blended-field-display-name.spec.ts
  apps/backend/src/data-marts/services/blended-field-display-name.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(mcp): update MCP setup guide (#1494)
  docs/getting-started/setup-guide/mcp.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add Copy link button for Destinations and Storages (#1487)
  .changeset/6744-copy-link-to-sheet.md
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.test.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.test.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditSheet/DataStorageConfigSheet.tsx
  packages/ui/src/components/common/copy-link-button.tsx
  packages/ui/src/components/common/copy-to-clipboard-button.tsx
  packages/ui/src/components/common/index.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): export Models canvas as SVG, PNG, JSON, or OKF bundle (#1496)
  .changeset/6771-canvas-export.md
  apps/docs/astro.config.mjs
  apps/web/package.json
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/export/download.test.ts
  apps/web/src/features/data-marts/model-canvas/export/download.ts
  apps/web/src/features/data-marts/model-canvas/export/export-image.ts
  apps/web/src/features/data-marts/model-canvas/export/index.test.ts
  apps/web/src/features/data-marts/model-canvas/export/index.ts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.test.ts
  apps/web/src/features/data-marts/model-canvas/export/model-graph.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/frontmatter.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.test.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/serialize.ts
  apps/web/src/features/data-marts/model-canvas/export/okf/zip.ts
  apps/web/src/features/data-marts/model-canvas/export/slug.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/DataMartBulkActions.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/DataMartBulkActions.tsx
  apps/web/src/features/data-marts/shared/components/DataMartBulkActions/index.ts
  docs/getting-started/setup-guide/models-canvas-export.md
  package-lock.json
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(editions): remove appsscript edition page and edit changeset (#1497)
  .changeset/6719-connector-error-warning-classification.md
  apps/docs/data/meta-content.csv
  docs/editions/appsscript-edition.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --config ./eslint.config.mjs: any of: **/*.{js,ts,mjs}
  prettier --write --config ./prettier.config.mjs: ((any of: **/*.{js,ts,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
