Repository middas-0706/js-data-connectors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,mjs}": [
    "eslint --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.mjs"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

org: fix preparing release (#434)
  .changeset/connector-target-setup-editable-defaults.md
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update looker-studio.md (#436)
  docs/destinations/supported-destinations/looker-studio.md
  docs/res/screens/connector-in-looker-studio-2nd-step.png
  docs/res/screens/create-report-to-looker-studio-in-data-mart.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(idp-protocol): streamline package.json and enhance NullIdpProvider (#438)
  packages/idp-protocol/package.json
  packages/idp-protocol/src/middleware/protocol-middleware.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/provider.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

refactor(workflow): enhance readability of release PR steps (#442)
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.mjs

fix(backend): Scheduled triggers. Ensure findTriggersReadyForProcessing loads entity relations. (#443)
  apps/backend/src/common/scheduler/services/fetchers/time-based-trigger-fetcher.service.spec.ts
  apps/backend/src/common/scheduler/services/fetchers/time-based-trigger-fetcher.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Create agency.md (#435)
  docs/editions/agency.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update astro.config.mjs (#444)
  apps/docs/astro.config.mjs
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Update agency.md (#446)
  docs/editions/agency.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Remove referral_id field causing whitelist error from adAccountCreativesFields (#447)
  .changeset/fix-facebook-referral-id-whitelist.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-creatives.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update aws-athena.md (#450)
  docs/storages/supported-storages/aws-athena.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(owox): add web package dependency and restructure serve start app command (#439)
  .changeset/config.json
  apps/backend/package.json
  apps/backend/src/bootstrap.ts
  apps/backend/src/config/express-static.config.ts
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  apps/owox/src/web/README.md
  apps/owox/src/web/index.ts
  apps/owox/src/web/static-config.ts
  apps/owox/test/commands/serve.test.ts
  apps/owox/test/integration/web-static-integration.test.ts
  apps/owox/test/web/static-config.test.ts
  apps/owox/tsconfig.json
  apps/web/package.json
  package-lock.json
  package.json
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update AthenaAccessKeyIdDescription.tsx (#451)
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaAccessKeyIdDescription.tsx
Due: none

feat: enhance BigQuery logging - remove sensitive data exposure and add progress tracking (#445)
  .changeset/optimize-logging-security.md
  packages/connectors/src/Sources/BingAds/Code.gs
  packages/connectors/src/Sources/CriteoAds/Code.gs
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/RedditAds/Code.gs
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Code.gs
  packages/connectors/src/Sources/XAds/Code.gs
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update astro.config.mjs (#453)
  apps/docs/astro.config.mjs
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Update connector-data-mart.md (#456)
  docs/getting-started/setup-guide/connector-data-mart.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Create render.md (#452)
  apps/docs/astro.config.mjs
  docs/getting-started/deployment-guide/render.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: enable trust proxy in express applications for improved request handling (#463)
  apps/backend/src/main.ts
  apps/owox/src/commands/serve.ts
  packages/idp-protocol/src/providers/null-provider.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix: update authentication token handling and secure cookie prefix logic (#464)
  packages/idp-better-auth/src/auth/auth-config.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/token-service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

refactor: simplify DataMart service queries by removing userId filter and updating cookie maxAge setting
  apps/backend/src/data-marts/services/data-mart.service.ts
  apps/backend/src/data-marts/use-cases/list-data-marts.service.ts
  packages/idp-protocol/src/providers/null-provider.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Update render.md (#460)
  docs/getting-started/deployment-guide/render.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: add automatic whitespace trimming for connector parameters (#455)
  packages/connectors/src/Core/AbstractConfig.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Split LinkedIn dateRange fields and hardcode field limits (#458)
  .changeset/split-linkedin-daterange-fields.md
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/LinkedInAdsFieldsSchema.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adAnalyticsFields.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: standardize Facebook Marketing table names with facebook_ads_ prefix (#462)
  .changeset/standardize-facebook-table-names.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update authorization header to use 'X-OWOX-Authorization' across services and APIs (#467)
  apps/backend/src/idp/guards/idp.guard.ts
  apps/web/src/app/api/apiClient.ts
  apps/web/src/features/idp/services/auth-api.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Add implementation for OWOX Identity Provider integration (#465)
  .changeset/add-idp-owox.md
  .changeset/config.json
  .github/workflows/lint-idp-owox.yml
  .github/workflows/publish.yml
  apps/owox/package.json
  apps/owox/src/idp/factory.ts
  package-lock.json
  packages/idp-owox/.prettierrc.js
  packages/idp-owox/README.md
  packages/idp-owox/eslint.config.js
  packages/idp-owox/package.json
  packages/idp-owox/src/.env.example
  packages/idp-owox/src/auth/AuthorizationStore.ts
  packages/idp-owox/src/auth/AuthorizationStoreFactory.ts
  packages/idp-owox/src/auth/MysqlAuthorizationStore.ts
  packages/idp-owox/src/auth/SqliteAuthorizationStore.ts
  packages/idp-owox/src/client/IdentityOwoxClient.ts
  packages/idp-owox/src/client/dto/idpOwoxPayloadDto.ts
  packages/idp-owox/src/client/dto/index.ts
  packages/idp-owox/src/client/dto/introspectionDto.ts
  packages/idp-owox/src/client/dto/jwksDto.ts
  packages/idp-owox/src/client/dto/revocationDto.ts
  packages/idp-owox/src/client/dto/tokenDto.ts
  packages/idp-owox/src/client/dto/tokenType.ts
  packages/idp-owox/src/client/index.ts
  packages/idp-owox/src/config.ts
  packages/idp-owox/src/index.ts
  packages/idp-owox/src/mappers/idpOwoxPayloadToPayloadMapper.ts
  packages/idp-owox/src/owoxIdp.ts
  packages/idp-owox/src/pkce.ts
  packages/idp-owox/src/token/jwksCache.ts
  packages/idp-owox/src/token/parseToken.ts
  packages/idp-owox/src/token/verifyJwt.ts
  packages/idp-owox/tsconfig.json
  packages/idp-protocol/package.json
  packages/idp-protocol/src/types/models.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update connector-data-mart.md (#466)
  docs/getting-started/setup-guide/connector-data-mart.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: fix undefined values in BigQuery Storage and cleanup Facebook fields (#454)
  .changeset/fix-bigquery-undefined-values-and-cleanup-facebook-fields.md
  .changeset/fix-facebook-referral-id-whitelist.md
  .changeset/optimize-logging-security.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Feature/add project id in url (#469)
  .changeset/add-project-id-in-url.md
  apps/web/src/components/AppSidebar/app-sidebar.tsx
  apps/web/src/components/ProjectRedirect.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/components/EmptyDataMartsState.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/pages/NotFound.tsx
  apps/web/src/pages/data-marts/create/CreateDataMartPage.tsx
  apps/web/src/pages/data-marts/edit/DataMartDetailsPage.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/useProjectId.ts
  apps/web/src/shared/hooks/useProjectRoute.ts
  apps/web/src/utils/path.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(owox): simplify static file serving by removing optimized headers (#472)
  apps/owox/src/web/static-config.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

chore: update authentication and middleware services to include user role checks and improve password requirements (#471)
  packages/idp-better-auth/src/auth/auth-config.ts
  packages/idp-better-auth/src/providers/better-auth-provider.ts
  packages/idp-better-auth/src/services/authentication-service.ts
  packages/idp-better-auth/src/services/middleware-service.ts
  packages/idp-better-auth/src/services/token-service.ts
  packages/idp-better-auth/src/templates/password-setup.html
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix(idp-owox): update .prettierignore path in package.json format scripts (#474)
  .prettierignore
  packages/idp-owox/package.json
Due: prettier --write --config ./prettier.config.mjs

Update looker-studio.md (#475)
  docs/destinations/supported-destinations/looker-studio.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update DestinationTypeDescription.tsx (#476)
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/DestinationTypeDescription.tsx
Due: none

Update admin-add-user.html (#477)
  packages/idp-better-auth/src/templates/admin-add-user.html
Due: none

docs(linkedin): improve LinkedIn Pages import guide and update images; fix API logging (#482)
  packages/connectors/src/Sources/LinkedInPages/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInPages/Source.js
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_account.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_backfill.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_bq.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_credentials.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_dataset.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_date.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_fields.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_import.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_importsheets.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_newdata.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pages_bq.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_pasteurn.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_reimport.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_request.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_runbackfill.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_success.png
  packages/connectors/src/Sources/LinkedInPages/res/linkedin_token.png
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(GoogleBigQueryStorage): implement automatic query size reduction for MERGE operations (#481)
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix(backend): report delete no longer fails due to cache FK (#480)
  apps/backend/src/data-marts/entities/report-data-cache.entity.ts
  apps/backend/src/migrations/1756904880000-add-cascade-to-report-data-cache-fk.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs
