Repository middas-0706/js-data-connectors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,mjs}": [
    "eslint --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.mjs"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

fix: show executed SQL for HTTP Data streaming runs (#1725)
  .changeset/7048-http-data-executed-sql.md
  apps/backend/src/data-marts/dto/schemas/http-data-run-metadata.schema.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/ConfigurationView.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/__tests__/ConfigurationView.test.tsx
  docs/api/openapi.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add Preview SQL to the report side panel header (#1721)
  .changeset/6861-preview-sql-in-report-sidebar.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/GeneratedSqlViewer.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditForm/ReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditSheet/ReportEditSheet.test.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditSheet/ReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportSheetDescription/ReportSheetDescription.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/__tests__/useHasUnsavedSqlChanges.test.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useHasUnsavedSqlChanges.ts
  apps/web/src/features/data-marts/reports/shared/components/ReportGeneratedSqlAction.tsx
  docs/getting-started/setup-guide/joinable-data-marts.md
  packages/ui/src/components/common/copy-link-button.tsx
  packages/ui/src/components/common/index.ts
  packages/ui/src/components/common/sheet-header-action.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): block BigQuery resources outside the storage location in the import picker (#1722)
  .changeset/6563-storage-location-bulk-creation.md
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-resource-location.util.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-resource-location.util.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sharded-tables.util.spec.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sharded-tables.util.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-storage-resource-browser.service.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/storage-resource-browser.interface.ts
  apps/backend/src/data-marts/dto/presentation/storage-resources/list-storage-resources-response.dto.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/StorageResourceTree.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/FillFromStorageButton/StorageResourceTree.tsx
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/BulkCreateFromStorageDialog.test.tsx
  apps/web/src/features/data-marts/list/components/BulkCreateFromStorageDialog/BulkCreateFromStorageDialog.tsx
  apps/web/src/features/data-storage/shared/api/types/response/storage-resources.response.dto.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add Markdown formatting toolbar to descriptions (#1728)
  apps/web/src/features/data-marts/insights/components/InsightTemplateEditor.test.tsx
  apps/web/src/features/data-marts/insights/components/InsightTemplateEditor.tsx
  apps/web/src/features/data-marts/insights/hooks/index.ts
  apps/web/src/shared/components/DescriptionEditor/DescriptionEditor.test.tsx
  apps/web/src/shared/components/DescriptionEditor/DescriptionEditor.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownToolbar.test.tsx
  apps/web/src/shared/components/MarkdownEditor/MarkdownToolbar.tsx
  apps/web/src/shared/components/MarkdownEditor/__tests__/useMarkdownToolbar.test.ts
  apps/web/src/shared/components/MarkdownEditor/markdown-toolbar.constants.ts
  apps/web/src/shared/components/MarkdownEditor/useMarkdownToolbar.ts
  docs/project/contexts.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(changeset): show the shareable plugin links demo without localhost addresses (#1729)
  .changeset/6955-shareable-plugin-links.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): edit a relationship from its arrow on the Models canvas (#1720)
  .changeset/6859-models-canvas-edit-relationship.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipDetailsTabs.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipWarningBadges.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-description-patches.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/source-entries.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useBlendedFieldsConfigEditor.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useBlendedFieldsConfigEditor.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useOutputAliasDraft.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/useOutputAliasDraft.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/model-canvas/components/CardRelationshipsSection.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowEdge.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.tsx
  apps/web/src/features/data-marts/model-canvas/export/model-graph.test.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/merge-bidirectional-edges.test.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/merge-bidirectional-edges.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/parallel-edge-offsets.test.ts
  apps/web/src/features/data-marts/model-canvas/model/relationship-sheet-layout.ts
  apps/web/src/features/data-marts/model-canvas/model/use-relationship-details.ts
  apps/web/src/features/data-marts/model-canvas/model/use-relationship-source-config.ts
  apps/web/src/features/data-marts/shared/canvas/edge-join-label.tsx
  docs/getting-started/setup-guide/joinable-data-marts.md
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(shopify): expand Orders fields with line-item discounts and more (#1726)
  .changeset/6995-shopify-line-item-discount-fields.md
  packages/connectors/src/Sources/Shopify/GETTING_STARTED.md
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/ordersFields.js
  packages/connectors/test/Sources/Shopify/Source.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(web): give the schema table Monaco stubs a readable model (#1730)
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.test.tsx
Due: none

feat(docs): add a "Try it free" OWOX Cloud CTA to product pages (#1727)
  .github/workflows/test-docs.yml
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/scripts/cloud-cta.test.mjs
  apps/docs/src/cloud-cta.mjs
  apps/docs/src/components/CloudCta.astro
  apps/docs/src/components/starlight/Footer.astro
  apps/docs/src/components/starlight/PageTitle.astro
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix(mcp): allow additive output fields and refresh cached schemas (#1731)
  apps/backend/src/ee/mcp/sdk/mcp-output-schema.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-output-schema.ts
  apps/backend/src/ee/mcp/sdk/mcp-schema-compatibility.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-schema-refresh.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-schema-refresh.ts
  apps/backend/src/ee/mcp/sdk/mcp-sdk-server.factory.spec.ts
  apps/backend/src/ee/mcp/sdk/mcp-sdk-server.factory.ts
  apps/backend/src/ee/mcp/transport/mcp-http-entry.service.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): drop Reinstall from the plugin page and rename Check now (#1732)
  .changeset/6874-plugin-page-check-and-update.md
  apps/backend/src/plugin-host/use-cases/update-plugin.service.ts
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.test.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.tsx
  apps/web/src/features/plugins/hooks/usePlugins.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
  docs/plugins/authoring-guide.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): manage installed plugins after they leave the Gallery (#1735)
  .changeset/6842-manage-installed-plugins.md
  apps/backend/src/plugin-host/use-cases/get-plugin-details.service.ts
  apps/backend/test/plugin-installations.e2e-spec.ts
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.test.tsx
  apps/web/src/components/AppSidebar/PluginsMenu/PluginsMenu.tsx
  apps/web/src/features/plugins/components/AudienceIcon.tsx
  apps/web/src/features/plugins/components/DialogFact.tsx
  apps/web/src/features/plugins/components/InstallPluginDialog.tsx
  apps/web/src/features/plugins/components/PluginCard.test.tsx
  apps/web/src/features/plugins/components/PluginCard.tsx
  apps/web/src/features/plugins/components/UninstallPluginDialog.test.tsx
  apps/web/src/features/plugins/components/UninstallPluginDialog.tsx
  apps/web/src/features/plugins/components/index.ts
  apps/web/src/features/plugins/components/useUninstallConfirmation.tsx
  apps/web/src/features/plugins/hooks/usePluginPublications.test.tsx
  apps/web/src/features/plugins/hooks/usePluginPublications.ts
  apps/web/src/features/plugins/hooks/usePlugins.test.tsx
  apps/web/src/features/plugins/hooks/usePlugins.ts
  apps/web/src/features/plugins/index.ts
  apps/web/src/features/plugins/visibility.test.ts
  apps/web/src/features/plugins/visibility.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
  apps/web/src/pages/plugins/gallery/PluginsGalleryPage.test.tsx
  apps/web/src/pages/plugins/gallery/PluginsGalleryPage.tsx
  apps/web/src/pages/plugins/history/PluginHistoryPage.test.tsx
  apps/web/src/pages/plugins/history/PluginHistoryPage.tsx
  apps/web/src/pages/plugins/open/PluginOpenPage.test.tsx
  apps/web/src/pages/plugins/open/PluginOpenPage.tsx
  apps/web/src/shared/components/ConfirmationDialog/ConfirmationDialog.tsx
  docs/plugins/authoring-guide.md
  docs/plugins/trusted-plugins.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): make the relationship panel a standard side sheet (#1734)
  .changeset/6859-models-canvas-edit-relationship.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipDetailsTabs.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/RelationshipDetailsSheet.tsx
  apps/web/src/features/data-marts/model-canvas/model/relationship-sheet-layout.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): say when a published plugin is already installed (#1736)
  .changeset/6855-plugin-already-installed-note.md
  apps/web/src/features/plugins/components/PublishPluginSheet.test.tsx
  apps/web/src/features/plugins/components/PublishPluginSheet.tsx
  apps/web/src/features/plugins/hooks/usePluginPublications.test.tsx
  apps/web/src/features/plugins/hooks/usePluginPublications.ts
  apps/web/src/features/plugins/hooks/usePlugins.ts
  docs/plugins/authoring-guide.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): enable the Create trigger button when the form opens prefilled (#1738)
  .changeset/7066-enable-create-trigger-button.md
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.test.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
