Repository middas-0706/js-data-connectors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(assets): update Facebook marketing resource images (#305)
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_checkbox.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_gettoken.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_token.png
Due: none

feat(docs): added GTM id from env (#307)
  .github/workflows/deploy-docs.yml
  apps/docs/.env.example
  apps/docs/astro.config.mjs
  apps/docs/scripts/env-config.js
  apps/docs/src/components/starlight/PageFrame.astro
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix: format package.json (#308)
  package.json
Due: prettier --write --config ./prettier.config.mjs

feat(backend): data mart schema use cases flow improved (#309)
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-data-mart-schema.parser.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-data-mart-schema.parser.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/facades/data-mart-schema-parser-facade.service.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-mart-schema-parser.interface.ts
  apps/backend/src/data-marts/use-cases/actualize-data-mart-schema.service.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

org(workflows): update ci command (#310)
  .github/workflows/deploy-docs.yml
  .github/workflows/lint-all.yml
  .github/workflows/lint-backend.yml
  .github/workflows/lint-connector-runner.yml
  .github/workflows/lint-connectors.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-root.yml
  .github/workflows/lint-ui.yml
  .github/workflows/lint-web.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test-all.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-connector-runner.yml
  .github/workflows/test-connectors.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-owox.yml
  .github/workflows/test-web.yml
Due: prettier --write --config ./prettier.config.mjs

fix: update package-lock.json (#311)
  package-lock.json
Due: prettier --write --config ./prettier.config.mjs

feat(backend): SQL dry run endpoint (#314)
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-sql-dry-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-sql-dry-run.executor.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-facades.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/facades/sql-dry-run-executor.facade.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/sql-dry-run-executor.interface.ts
  apps/backend/src/data-marts/dto/domain/sql-dry-run-result.dto.ts
  apps/backend/src/data-marts/dto/domain/sql-dry-run.command.ts
  apps/backend/src/data-marts/dto/presentation/sql-dry-run-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/sql-dry-run-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/use-cases/sql-dry-run.service.ts
  package-lock.json
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat: add logo and documentation links to connector manifests (#306)
  packages/connectors/src/Sources/BankOfCanada/logo.svg
  packages/connectors/src/Sources/BankOfCanada/manifest.json
  packages/connectors/src/Sources/BingAds/logo.svg
  packages/connectors/src/Sources/BingAds/manifest.json
  packages/connectors/src/Sources/CriteoAds/logo.svg
  packages/connectors/src/Sources/CriteoAds/manifest.json
  packages/connectors/src/Sources/FacebookMarketing/logo.svg
  packages/connectors/src/Sources/FacebookMarketing/manifest.json
  packages/connectors/src/Sources/GitHub/logo.svg
  packages/connectors/src/Sources/GitHub/manifest.json
  packages/connectors/src/Sources/LinkedIn/logo.svg
  packages/connectors/src/Sources/LinkedIn/manifest.json
  packages/connectors/src/Sources/OpenExchangeRates/logo.svg
  packages/connectors/src/Sources/OpenExchangeRates/manifest.json
  packages/connectors/src/Sources/OpenHolidays/logo.svg
  packages/connectors/src/Sources/OpenHolidays/manifest.json
  packages/connectors/src/Sources/RedditAds/logo.svg
  packages/connectors/src/Sources/RedditAds/manifest.json
  packages/connectors/src/Sources/TikTokAds/logo.svg
  packages/connectors/src/Sources/TikTokAds/manifest.json
  packages/connectors/src/Sources/XAds/logo.svg
  packages/connectors/src/Sources/XAds/manifest.json
Due: prettier --write --config ./prettier.config.mjs

refactor(web): use `useCallback` for interval handlers in ScheduleConfig (#313)
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.tsx
Due: none

Add real-time SQL validation for Data Marts (#315)
  .changeset/sql-validation-feature.md
  apps/backend/src/data-marts/use-cases/sql-dry-run.service.ts
  apps/web/src/app/api/apiClient.ts
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/DataMartDefinitionSettings.tsx
  apps/web/src/features/data-marts/edit/components/SqlValidator/SqlValidator.tsx
  apps/web/src/features/data-marts/edit/utils/definition-helpers.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/request/index.ts
  apps/web/src/features/data-marts/shared/types/api/request/sql-validation-request.dto.ts
  apps/web/src/features/data-marts/shared/types/api/response/index.ts
  apps/web/src/features/data-marts/shared/types/api/response/sql-validation-response.dto.ts
  apps/web/src/hooks/use-debounce.ts
  apps/web/src/shared/components/GlobalLoader/LoadingContext.tsx
  apps/web/src/utils/format-bytes.ts
  apps/web/src/utils/index.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

org: script fix (#312)
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .prettierignore
  .prettierignore.root
  apps/owox/CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): schema related endpoints fix (#317)
  apps/backend/src/data-marts/use-cases/actualize-data-mart-schema.service.ts
  apps/backend/src/data-marts/use-cases/publish-data-mart.service.ts
  package-lock.json
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix(org): fix publishing errors (#318)
  apps/owox/package.json
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.mjs

Editions 2025 jul (#320)
  README.md
  docs/getting-started/editions.md
  docs/res/athena.svg
  docs/res/bigquery.svg
  docs/res/databricks.svg
  docs/res/g-sheets.svg
  docs/res/looker.svg
  docs/res/ms-excel.svg
  docs/res/odata.svg
  docs/res/power-bi.svg
  docs/res/redshift.svg
  docs/res/snowflake.svg
  docs/res/synapse.svg
  docs/res/tableau.svg
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): Texts and icons updates (#325)
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/reports/list/components/TableToolbar/TableToolbar.tsx
  apps/web/src/features/data-marts/shared/types/data-mart-definition-type.model.ts
  packages/ui/src/components/form.tsx
  packages/ui/src/components/label.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Create appsscript-edition.md (#319)
  appsscript-edition.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update README.md (#328)
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Create TUTORIAL.md (#324)
  packages/connectors/TUTORIAL.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update README.md (#329)
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(org): change audit process (#327)
  .github/workflows/audit-all.yml
  .github/workflows/lint-all.yml
  .github/workflows/lint-backend.yml
  .github/workflows/lint-connector-runner.yml
  .github/workflows/lint-connectors.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-root.yml
  .github/workflows/lint-ui.yml
  .github/workflows/lint-web.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  .github/workflows/test-all.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-connector-runner.yml
  .github/workflows/test-connectors.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-owox.yml
  .github/workflows/test-web.yml
  apps/backend/package.json
  apps/owox/package.json
  package-lock.json
  package.json
  packages/connector-runner/package.json
  packages/connectors/package.json
Due: prettier --write --config ./prettier.config.mjs

Add files via upload (#323)
  packages/connectors/res/Contributors' Guide Full v.1-Cover.jpg
Due: none

feat(web): Refine the Data Mart Page (Layout, Menu, and Texts) (#333)
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDefinitionSettings/form/ConnectorDefinitionField.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/FormDescriptions/ReportSelectionDescription.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/FormDescriptions/TriggerTypeOptionsDescription.tsx
Due: none

corrections to changeset (#336)
  .changeset/fixes.md
  .changeset/run-history-and-edit-field-in-connector.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update fixes.md (#337)
  .changeset/fixes.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(owox): added build step to npm script test (#335)
  .github/workflows/test-owox.yml
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.mjs

Add README for OWOX Data Marts (#338)
  apps/owox/README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(owox): update tests for cross-platforms (#340)
  apps/owox/package.json
  apps/owox/test/commands/serve.test.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Added EnvironmentAdapter.js to global scope (#331)
  packages/connectors/src/Core/EnvironmentAdapter.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

changeset: add info about latest ux improvements (#341)
  .changeset/ux-improvements.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(org): fixed audit problem with axios library (#342)
  apps/web/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.mjs

refactor: remove databaseName parameter from athena storage config (#339)
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/athena/schemas/athena-config.schema.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-access.validator.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-data-mart-schema.provider.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-datamart.validator.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-sql-dry-run.executor.ts
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorConfigurationItem.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/AwsAthenaFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/FormDescriptions/AthenaDatabaseNameDescription.tsx
  apps/web/src/features/data-storage/shared/api/types/response/data-storage.response.dto.ts
  apps/web/src/features/data-storage/shared/components/DataStorageInfo/ConfigSection.tsx
  apps/web/src/features/data-storage/shared/model/mappers/aws-athena.mapper.ts
  apps/web/src/features/data-storage/shared/model/types/data-storage-config.ts
  apps/web/src/features/data-storage/shared/types/data-storage.schema.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Update CHANGELOG.md (#343)
  apps/backend/package.json
  apps/owox/CHANGELOG.md
  apps/owox/package.json
Due: prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Core concepts (#321)
  docs/getting-started/core-concepts.md
  docs/res/core-concepts.svg
  docs/res/screens/data-marts-table.png
  docs/res/screens/destinations-table.png
  docs/res/screens/storages-table.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: reorganize Facebook Ads API credential guide and improve TikTok Ads token exp handling
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_datahandling.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_description.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_entity.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_next.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_personal.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_personaldata.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_standard_access.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_ver.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_video.png
  packages/connectors/src/Sources/TikTokAds/CREDENTIALS.md
  packages/connectors/src/Sources/TikTokAds/Code.gs
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: edition section (#345)
  apps/docs/astro.config.mjs
  appsscript-edition.md
  docs/editions/all-editions.md
  docs/editions/appsscript-edition.md
  docs/getting-started/editions.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): adapt running connectors on Windows in development (#326)
  package-lock.json
  packages/connector-runner/package.json
  packages/connector-runner/src/infrastructure/dependencies/npm-dependency-manager.js
  packages/connector-runner/src/infrastructure/environments/nodejs-environment.js
  packages/connector-runner/src/utils/package-utils.js
  packages/connector-runner/test/infrastructure/dependencies/npm-dependency-manager.test.js
  packages/connector-runner/test/infrastructure/environments/nodejs-environment.test.js
  packages/connectors/vite.config.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

refactor(web): refactor text and code target setup step (#346)
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
Due: none

Path conditions:
  eslint --config ./eslint.config.mjs: any of: **/*.{js,ts,mjs}
  prettier --write --config ./prettier.config.mjs: ((any of: **/*.{js,ts,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
