Repository middas-0706/js-data-connectors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: add overview entry pages for all product sections (#1675)
  apps/docs/astro.config.mjs
  apps/docs/data/meta-content.csv
  apps/docs/scripts/sync-docs.js
  docs/connectors/index.md
  docs/data-marts/index.md
  docs/destinations/index.md
  docs/destinations/supported-destinations/email.md
  docs/destinations/supported-destinations/google-chat.md
  docs/destinations/supported-destinations/microsoft-excel.md
  docs/destinations/supported-destinations/microsoft-teams.md
  docs/destinations/supported-destinations/slack.md
  docs/getting-started/core-concepts.md
  docs/getting-started/deployment-guide/index.md
  docs/getting-started/first-data-mart.md
  docs/getting-started/setup-guide/connector-data-mart.md
  docs/getting-started/setup-guide/models-canvas.md
  docs/getting-started/setup-guide/pattern-data-mart.md
  docs/getting-started/setup-guide/sql-data-mart.md
  docs/getting-started/setup-guide/table-data-mart.md
  docs/getting-started/setup-guide/view-data-mart.md
  docs/plugins/index.md
  docs/project/index.md
  docs/reports/index.md
  docs/res/screens/SQL-Based-DataMart-Report.png
  docs/storages/index.md
  packages/connectors/src/Sources/BankOfCanada/GETTING_STARTED.md
  packages/connectors/src/Sources/CriteoAds/GETTING_STARTED.md
  packages/connectors/src/Sources/GitHub/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInAds/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInPages/GETTING_STARTED.md
  packages/connectors/src/Sources/MicrosoftAds/GETTING_STARTED.md
  packages/connectors/src/Sources/OpenExchangeRates/GETTING_STARTED.md
  packages/connectors/src/Sources/OpenHolidays/GETTING_STARTED.md
  packages/connectors/src/Sources/RedditAds/GETTING_STARTED.md
  packages/connectors/src/Sources/Shopify/GETTING_STARTED.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(connectors): name the feature custom connectors, as the app does (#1690)
  apps/docs/astro.config.mjs
  apps/owox/CHANGELOG.md
  docs/connectors/connector-builder.md
  docs/connectors/custom-connectors.md
  docs/connectors/index.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): offer every Lucide icon in the Data Mart icon picker, with search (#1688)
  .changeset/7030-all-data-mart-icons-search.md
  apps/backend/src/data-marts/dto/domain/create-data-mart.command.ts
  apps/backend/src/data-marts/dto/domain/data-mart-list-item.dto.ts
  apps/backend/src/data-marts/dto/domain/data-mart.dto.ts
  apps/backend/src/data-marts/dto/domain/model-canvas.dto.ts
  apps/backend/src/data-marts/dto/domain/update-data-mart-icon.command.ts
  apps/backend/src/data-marts/dto/presentation/create-data-mart-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-list-item-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/model-canvas-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-data-mart-icon-api.dto.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/enums/data-mart-icon.enum.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-icon.service.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartDetails.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/features/data-marts/edit/model/context/types.ts
  apps/web/src/features/data-marts/edit/model/types/data-mart-model.ts
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/model/types.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconGlyph.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/DataMartIconPicker.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/data-mart-icon-search.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/data-mart-icons.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/index.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/lucide-icon-catalog.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/lucide-icon-name.ts
  apps/web/src/features/data-marts/shared/components/DataMartIcon/use-lucide-icon-catalog.test.tsx
  apps/web/src/features/data-marts/shared/components/DataMartIcon/use-lucide-icon-catalog.ts
  apps/web/src/features/data-marts/shared/enums/data-mart-icon.enum.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart.response.dto.ts
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): report an invalid manifest the same way on publish and test (#1691)
  apps/backend/src/data-marts/dto/presentation/custom-connector-response.dto.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
  apps/backend/src/data-marts/services/connector/declarative-manifest-schemas.ts
  apps/backend/test/custom-connector.e2e-spec.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix(connector-builder): check node and parameter names as they are typed (#1692)
  .changeset/6988-3-node-name-rules.md
  apps/web/src/features/connector-builder/create/NodesSection.test.tsx
  apps/web/src/features/connector-builder/create/ResultsDockRename.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderNavRail.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderNavRail.tsx
  apps/web/src/features/connector-builder/create/components/ParametersEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/ParametersEditor.tsx
  apps/web/src/features/connector-builder/create/components/ResultsDock.test.tsx
  apps/web/src/features/connector-builder/create/components/ResultsDock.tsx
  apps/web/src/features/connector-builder/create/components/node/NodeEditor.tsx
  apps/web/src/features/connector-builder/shared/model/manifestNames.test.ts
  apps/web/src/features/connector-builder/shared/model/manifestNames.ts
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(connectors): show a run that loaded nothing as 0 rows in run history (#1681)
  .changeset/6988-1-connector-error-messages.md
  .changeset/6988-2-empty-run-loaded-rows.md
  apps/web/src/features/data-marts/edit/components/DataMartRunHistoryView/load-status.test.ts
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/tests/AbstractConnector.test.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(docs): link to each changelog entry from its own heading (#1693)
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/scripts/rehype-changelog-entry-anchors.js
  apps/docs/scripts/rehype-changelog-entry-anchors.test.mjs
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix(idp): defer PKCE state minting until real sign-in intent (#1620)
  .changeset/6612-refresh-social-sign-in-state.md
  packages/idp-owox-better-auth/src/controllers/page-controller.test.ts
  packages/idp-owox-better-auth/src/controllers/page-controller.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.deferred-pkce.test.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.mcpOAuth.test.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.user-bound-redirect.test.ts
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-in.ejs
  packages/idp-owox-better-auth/src/resources/templates/pages/sign-up.ejs
  packages/idp-owox-better-auth/src/resources/templates/partials/social-auth.ejs
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.test.ts
  packages/idp-owox-better-auth/src/services/auth/pkce-flow-orchestrator.ts
  packages/idp-owox-better-auth/src/services/middleware/auth-flow-middleware.test.ts
  packages/idp-owox-better-auth/src/services/middleware/auth-flow-middleware.ts
  packages/idp-owox-better-auth/src/services/rendering/template-service.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
  packages/idp-owox-better-auth/src/utils/social-intent.test.ts
  packages/idp-owox-better-auth/src/utils/social-intent.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): wait out a rate limit the API names, and read JSON:API errors (#1697)
  .changeset/6988-5-rate-limit-retry-after.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/src/Core/Declarative/ErrorHandler.js
  packages/connectors/tests/AbstractSource.test.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(deps): resolve production audit vulnerabilities in grpc-js, dompurify and hono (#1700)
  package-lock.json
Due: prettier --write --config ./prettier.config.mjs

fix(docs): declare @astrojs/markdown-remark so the docs build keeps it (#1703)
  apps/docs/package.json
  package-lock.json
Due: prettier --write --config ./prettier.config.mjs

docs: note the OWOX Extension's fixes for unchecked columns and output controls (#1669)
  .changeset/7018-extension-unchecked-column-rules.md
  docs/getting-started/setup-guide/output-controls.md
  docs/getting-started/setup-guide/report-aggregations.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): let table filters apply contains and does not contain (#1701)
  .changeset/7029-contains-filter-apply.md
  apps/web/e2e/specs/datamart-list.spec.ts
  apps/web/src/shared/components/TableFilters/FiltersForm.tsx
  apps/web/src/shared/components/TableFilters/TableFilters.test.tsx
  apps/web/src/shared/hooks/usePersistentFilters.test.ts
  apps/web/src/shared/hooks/usePersistentFilters.ts
  docs/getting-started/setup-guide/extension-data-marts.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

test(backend): expect the auto-collapse label in the Google Sheets column picker test (#1698)
  apps/backend/test/integration/google-sheets-column-preservation.integration.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix(docs): keep changelog entries as list items, with anchors (#1704)
  apps/docs/scripts/rehype-changelog-entry-anchors.js
  apps/docs/scripts/rehype-changelog-entry-anchors.test.mjs
  apps/docs/src/styles/custom.css
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat(web): track custom connector usage in PostHog (#1689)
  apps/web/src/features/connector-builder/create/Analytics.test.tsx
  apps/web/src/features/connector-builder/create/ConnectorBuilderPage.tsx
  apps/web/src/features/connector-builder/create/ResultsDockRename.test.tsx
  apps/web/src/features/connector-builder/create/components/BuilderTopBar.tsx
  apps/web/src/features/connector-builder/create/components/CodeModeEditor.tsx
  apps/web/src/features/connector-builder/create/components/ResultsDock.tsx
  apps/web/src/features/connector-builder/create/components/node/FieldsEditor.tsx
  apps/web/src/features/connector-builder/create/components/useManifestImport.tsx
  apps/web/src/features/connector-builder/shared/model/analytics.test.ts
  apps/web/src/features/connector-builder/shared/model/analytics.ts
  apps/web/src/features/connector-builder/shared/model/context/reducer.test.ts
  apps/web/src/features/connector-builder/shared/model/context/reducer.ts
  apps/web/src/features/connector-builder/shared/model/context/types.ts
  apps/web/src/features/connector-builder/shared/model/hooks/useBuilder.ts
  apps/web/src/features/connectors/edit/components/ConnectorDefinitionField/ConnectorVersionControl.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.custom.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.unpublished.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/list/model/useConnectorsList.test.ts
  apps/web/src/features/connectors/list/model/useConnectorsList.ts
  apps/web/src/features/connectors/shared/model/connector-setup-analytics.test.ts
  apps/web/src/features/connectors/shared/model/connector-setup-analytics.ts
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.test.tsx
  apps/web/src/features/data-marts/edit/model/context/DataMartContext.tsx
  apps/web/src/pages/connectors/ConnectorsListPage.test.tsx
  apps/web/src/pages/connectors/ConnectorsListPage.tsx
  apps/web/src/pages/connectors/builder/BuilderPage.create.test.tsx
  apps/web/src/pages/connectors/builder/BuilderPage.tsx
  apps/web/src/pages/connectors/builder/ConnectorBuilderRoute.tsx
  apps/web/src/utils/data-layer.test.ts
  apps/web/src/utils/data-layer.ts
  apps/web/vitest.config.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat(connectors): resolve short links only on an allowlist of domains (#1671)
  .changeset/6991-short-link-allowlist.md
  .env.example
  apps/backend/src/config/env-validation.config.ts
  docs/getting-started/deployment-guide/environment-variables.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/Declarative/SsrfGuard.js
  packages/connectors/src/Core/Utils/ShortLinksUtils.js
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/GoogleAds/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleAds/Source.js
  packages/connectors/src/Sources/MicrosoftAds/GETTING_STARTED.md
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/src/Sources/RedditAds/GETTING_STARTED.md
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/GETTING_STARTED.md
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/test/Core/AbstractConnector.test.js
  packages/connectors/test/Core/ShortLinksUtils.test.js
  packages/connectors/tests/declarative/SsrfGuard.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: show Data Owner in the ownership and member screenshots (#1705)
  .changeset/7023-data-owner-naming.md
  docs/project/contexts.md
  docs/project/members.md
  docs/project/ownership-and-sharing.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(connectors): add search and link-preview metadata for the custom connector pages (#1706)
  apps/docs/data/meta-content.csv
Due: none

docs: document MCP joins, the project description and relationship permissions (#1696)
  docs/getting-started/setup-guide/joinable-data-marts.md
  docs/getting-started/setup-guide/mcp.md
  docs/project/index.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(best-practices): design a data model from joinable Data Marts (#7034) (#1694)
  apps/docs/astro.config.mjs
  apps/docs/data/meta-content.csv
  docs/data-marts/index.md
  docs/getting-started/best-practices/data-model-design.md
  docs/getting-started/setup-guide/joinable-data-marts.md
  docs/getting-started/setup-guide/models-canvas-export.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): align tool metadata with plugin review (#1699)
  .changeset/7033-mcp-review-metadata.md
  apps/backend/src/ee/mcp/instructions/mcp-instructions.service.spec.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.ts
  apps/backend/src/ee/mcp/tools/run-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/run-report.tool.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): mark external system interactions
  .changeset/7033-mcp-external-systems.md
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/create-report-run-schedule.tool.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(mcp): mark schedule updates as destructive (#1707)
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report-run-schedule.tool.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat(connectors): let a custom connector leave out today with incremental.endLagDays (#1709)
  .changeset/6988-7-incremental-end-lag-days.md
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.ts
  apps/web/src/features/connector-builder/create/components/node/IncrementalEditor.test.tsx
  apps/web/src/features/connector-builder/create/components/node/IncrementalEditor.tsx
  apps/web/src/features/connector-builder/shared/model/manifest.types.ts
  docs/connectors/connector-builder.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Core/Declarative/DeclarativeSource.js
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/tests/AbstractConnector.test.js
  packages/connectors/tests/declarative/DeclarativeSource.test.js
  packages/connectors/tests/declarative/ManifestParser.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): name the node and the fix for two custom connector run errors (#1708)
  .changeset/6988-6-clearer-custom-connector-run-errors.md
  apps/backend/src/data-marts/services/connector/connector-definition.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-definition.service.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-test.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.custom.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  docs/connectors/connector-builder.md
  docs/connectors/manifest-reference.llms.txt
  docs/connectors/manifest-reference.md
  packages/connectors/src/Core/AbstractStorage.js
  packages/connectors/src/Core/Declarative/ManifestParser.js
  packages/connectors/src/Storages/Databricks/DatabricksStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/Storages/Snowflake/SnowflakeStorage.js
  packages/connectors/tests/declarative/ManifestParser.test.js
  packages/connectors/tests/regression/storage-missing-selected-field.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: add the Data Owner demo video to the release note (#1714)
  .changeset/7023-data-owner-naming.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(changeset): combine the custom connector follow-ups into one changeset (#1715)
  .changeset/6988-1-connector-error-messages.md
  .changeset/6988-2-empty-run-loaded-rows.md
  .changeset/6988-3-node-name-rules.md
  .changeset/6988-5-rate-limit-retry-after.md
  .changeset/6988-6-clearer-custom-connector-run-errors.md
  .changeset/6988-7-incremental-end-lag-days.md
  .changeset/6988-custom-connector-follow-ups.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changelog): add the 0.37.0 what's-new video (#1717)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(deps): resolve audit vulnerabilities in basic-ftp, devalue, http-cache-semantics and serialize-javascript (#1718)
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.mjs

fix(athena): clean up query results when the output bucket names a folder (#1712)
  .changeset/7042-athena-output-bucket-folder.md
  apps/backend/src/data-marts/data-storage-types/athena/adapters/athena-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/s3-api.adapter.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/adapters/s3-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/athena/utils/athena-output-location.util.spec.ts
  apps/backend/src/data-marts/data-storage-types/athena/utils/athena-output-location.util.ts
  apps/web/src/features/data-marts/edit/components/DataMartDataStorageView.tsx
  apps/web/src/features/data-storage/shared/utils/storage-url.utils.test.ts
  apps/web/src/features/data-storage/shared/utils/storage-url.utils.ts
  docs/storages/supported-storages/aws-athena.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(google-sheets): explain unfinished Google Sheets updates and how to fix them (#1713)
  .changeset/6943-google-sheets-error-details.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/errors/google-sheets-api-call.error.ts
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: SQL validation no longer fails for large queries (#1711)
  .changeset/7040-widen-sql-dry-run-column.md
  apps/backend/src/data-marts/dto/presentation/sql-dry-run-request-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/sql-dry-run-request-api.dto.ts
  apps/backend/src/data-marts/entities/sql-dry-run-trigger.entity.ts
  apps/backend/src/migrations/1790830000000-widen-sql-dry-run-trigger-sql-column.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --config ./eslint.config.mjs: any of: **/*.{js,ts,mjs}
  prettier --write --config ./prettier.config.mjs: ((any of: **/*.{js,ts,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
