Repository middas-0706/js-data-connectors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): measure Data Last Updated Date for Databricks storage (#1534)
  .changeset/6796-data-last-updated-databricks.md
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/databricks/adapters/databricks-api.adapter.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-source-data-last-updated.resolver.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/services/databricks-source-data-last-updated.resolver.ts
  apps/backend/src/data-marts/data-storage-types/databricks/utils/databricks-plan-relations.util.spec.ts
  apps/backend/src/data-marts/data-storage-types/databricks/utils/databricks-plan-relations.util.ts
  docs/getting-started/setup-guide/data-last-updated.md
  docs/getting-started/setup-guide/mcp.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(plugin-host): allow a release to redefine an existing collection (#1541)
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix(web): stop storage setup step from clearing fields while editing (#1542)
  .changeset/6811-connector-storage-step-field-reset.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): recover Google Sheets reports from a deleted sheet (#1538)
  .changeset/6790-reconnect-sheet-and-run.md
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-access-validator.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/google-sheets/reconnect-google-sheet.command.ts
  apps/backend/src/data-marts/dto/presentation/google-sheets/reconnect-google-sheet-response.dto.ts
  apps/backend/src/data-marts/errors/google-sheet-not-found.error.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/services/report-access.service.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/google-sheets/reconnect-google-sheet.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/reconnect-google-sheet.service.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.test.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/StatusIcon/StatusIcon.tsx
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReport.ts
  apps/web/src/features/data-marts/reports/shared/services/report.service.ts
  apps/web/src/features/data-marts/reports/shared/services/types/index.ts
  apps/web/src/features/data-marts/reports/shared/services/types/reconnect-sheet.response.dto.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: await storage initialization in OpenHolidays connector (#1543)
  .changeset/6846-open-holidays-storage-save-fix.md
  packages/connectors/src/Sources/OpenHolidays/Connector.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): make copy-credentials permission error actionable (#1544)
  .changeset/6850-actionable-copy-credentials-error.md
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-definition.service.ts
  docs/getting-started/setup-guide/connector-data-mart.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): add an optional description to data mart relationships (#1540)
  .changeset/6780-relationship-description.md
  apps/backend/src/data-marts/dto/domain/create-relationship.command.ts
  apps/backend/src/data-marts/dto/domain/relationship.dto.ts
  apps/backend/src/data-marts/dto/domain/update-relationship.command.ts
  apps/backend/src/data-marts/dto/presentation/create-relationship-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/relationship-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-relationship-request-api.dto.ts
  apps/backend/src/data-marts/entities/data-mart-relationship.entity.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.spec.ts
  apps/backend/src/data-marts/mappers/relationship.mapper.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-relationship.service.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/migrations/1786924800000-add-description-to-data-mart-relationship.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Configure npm trusted publishing (#1546)
  .github/workflows/publish.yml
  apps/ctl/package.json
  apps/owox/package.json
  packages/connectors/package.json
  packages/idp-better-auth/package.json
  packages/idp-owox-better-auth/package.json
  packages/idp-protocol/package.json
Due: prettier --write --config ./prettier.config.mjs

fix(microsoft-ads): prevent out-of-memory crash when importing keywords (#1545)
  .changeset/6853-microsoft-ads-keywords-oom.md
  packages/connectors/src/Sources/MicrosoftAds/Helper.js
  packages/connectors/src/Sources/MicrosoftAds/Source.js
  packages/connectors/test/Sources/MicrosoftAds/Source.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): list all connectors in 6810 changeset title (#1547)
  .changeset/6810-connectors-supported-api-versions.md
  .changeset/6824-input-source-form-discards-unsaved-query.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add copyable direct link for the report edit sidebar (#1550)
  .changeset/6801-copy-link-report-sheet.md
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditSheet/EmailReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.test.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportSheetDescription/ReportSheetDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportSheetDescription/index.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useReportDeepLink.ts
  apps/web/src/features/data-marts/reports/list/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/model/hooks/useReportSidesheet.test.tsx
  apps/web/src/features/data-marts/reports/list/model/hooks/useReportSidesheet.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/shared/hooks/useUrlParam.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: improve Google Chat setup guidance and logs (#1537)
  .changeset/google-chat-webhook-adjustments.md
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-report-writer.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/EmailFields.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/GoogleChatChannelEmailDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/GoogleChatDeliveryMethodDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/GoogleChatWebhookDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleChatFields.test.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleChatFields.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(idp): add Microsoft NAA extension identity flow (#1548)
  .env.example
  apps/owox/src/web/cors.ts
  apps/owox/test/web/cors.test.ts
  packages/idp-owox-better-auth/README.md
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.extensionAuth.test.ts
  packages/idp-owox-better-auth/src/client/IdentityOwoxClient.ts
  packages/idp-owox-better-auth/src/client/dto/extensionAuthFlowDto.ts
  packages/idp-owox-better-auth/src/client/dto/index.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.test.ts
  packages/idp-owox-better-auth/src/config/idp-owox-config.ts
  packages/idp-owox-better-auth/src/controllers/extension-auth.controller.test.ts
  packages/idp-owox-better-auth/src/controllers/extension-auth.controller.ts
  packages/idp-owox-better-auth/src/dto/extension-auth-request.dto.test.ts
  packages/idp-owox-better-auth/src/dto/extension-auth-request.dto.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.extensionAuth.test.ts
  packages/idp-owox-better-auth/src/facades/owox-token-facade.ts
  packages/idp-owox-better-auth/src/index.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/services/auth/extension-auth-service.test.ts
  packages/idp-owox-better-auth/src/services/auth/extension-auth-service.ts
  packages/idp-owox-better-auth/src/services/auth/microsoft-entra-access-token-verifier.test.ts
  packages/idp-owox-better-auth/src/services/auth/microsoft-entra-access-token-verifier.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): serve help videos from Cloudflare Stream instead of GitHub (#1552)
  .changeset/6814-help-videos-cloudflare-stream.md
  apps/docs/scripts/sync-docs.js
  apps/web/src/components/ContentPopovers/popovers/Video1GoogleSheetsReport.tsx
  apps/web/src/components/ContentPopovers/popovers/Video2LookerAsDestination.tsx
  apps/web/src/components/ContentPopovers/popovers/Video3GettingStartedDataMarts.tsx
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): assert the new PK identity shape in the BigQuery integration test (#1555)
  apps/backend/test/integration/bigquery.integration.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

fix(microsoft-ads): resume interrupted imports from last completed day (#1556)
  .changeset/6864-microsoft-ads-per-day-checkpoint.md
  packages/connectors/src/Core/Utils/FormatUtils.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/test/Sources/MicrosoftAds/perDayCheckpoint.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(connectors): resume interrupted Ads imports from last completed date (#1557)
  .changeset/6865-per-day-checkpoint-ads-connectors.md
  packages/connectors/CONTRIBUTING.md
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/GoogleAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/test/Sources/CriteoAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/GoogleAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/RedditAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/XAds/perDayCheckpoint.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(backend): report an interrupted connector run as a warning (#1558)
  .changeset/6857-terminal-status-warning.md
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): show joined Data Mart details in report column picker (#1559)
  .changeset/6827-joined-data-mart-details.md
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/DateTruncRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FieldInfoTooltip.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FilterRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/UniqueCountRow.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/UniqueCountRow.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fix scrolling in report description tooltips (#1562)
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/FieldInfoTooltip.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/shared/utils/data-last-updated.utils.test.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

docs: add data and event agent guidance
  AGENTS.md
  CLAUDE.md
  docs/data-and-event-boundaries.md
  docs/review-rules.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: define ODM changeset policy
  AGENTS.md
  docs/contributing/repository/release-strategy.md
  docs/review-rules.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): keep Joinable Data Marts zoom controls usable regardless of fit timing (#1553)
  .changeset/6858-canvas-zoom-after-search.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): restore documentation validation
  .markdownlint-cli2.mjs
  AGENTS.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: document backend review conventions
  docs/review-rules.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore: remove obsolete Slack Community links (#1571)
  .changeset/remove-slack-community-links.md
  README.md
  apps/web/src/app/store/default-flags.ts
  apps/web/src/components/AppSidebar/HelpMenu/items.test.ts
  apps/web/src/components/AppSidebar/HelpMenu/items.ts
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
  apps/web/src/shared/icons/slack-icon-desaturated.tsx
  packages/connectors/CONTRIBUTING.md
  packages/connectors/src/Sources/FacebookMarketing/README.md
  packages/connectors/src/Sources/XAds/CREDENTIALS.md
  packages/connectors/src/Sources/XAds/GETTING_STARTED.md
  packages/connectors/src/Sources/XAds/README.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(criteo-ads): explain advertiser consent and add credential troubleshooting (#1567)
  packages/connectors/src/Sources/CriteoAds/CREDENTIALS.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Connect Google Sheets source with Google OAuth (#1563)
  .changeset/google-sheets-source-oauth.md
  apps/backend/src/data-marts/services/connector/connector-preview-credentials.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-preview-credentials.service.ts
  apps/backend/src/data-marts/services/connector/connector.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
  apps/backend/test/README.md
  apps/backend/test/connector-fields.e2e-spec.ts
  apps/backend/test/connector-oauth.e2e-spec.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationListRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationOneOfRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/impl/GoogleSheetsOauthRender.tsx
  apps/web/src/features/connectors/shared/components/GoogleSheetsLoginButton/GoogleSheetsLoginButton.tsx
  apps/web/src/features/connectors/shared/components/GoogleSheetsLoginButton/index.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.test.ts
  apps/web/src/features/google-oauth/hooks/useGoogleDrivePicker.ts
  apps/web/src/features/google-oauth/index.ts
  apps/web/src/pages/oauth/GoogleSheetsCallback.tsx
  apps/web/src/pages/oauth/index.ts
  apps/web/src/routes/oauth.routes.tsx
  packages/connectors/src/Sources/GoogleSheets/CREDENTIALS.md
  packages/connectors/src/Sources/GoogleSheets/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleSheets/README.md
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: clarify plugin state persistence with collections (#1573)
  docs/plugins/authoring-guide.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): calculated field improvements (#1575)
  .changeset/6876-calculated-field-improvements.md
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-analyzer.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.spec.ts
  apps/backend/src/data-marts/calculated-fields/formula-violations.ts
  apps/web/e2e/helpers/formula-cell.ts
  apps/web/e2e/specs/datamart-calculated-field-chips.spec.ts
  apps/web/e2e/specs/datamart-calculated-field-formula.spec.ts
  apps/web/e2e/specs/datamart-row-level-calculated-field.spec.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/CalculatedFieldFormulaCell.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/CalculatedFieldFormulaCell.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/formula-violation-ranges.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/useCalculatedFieldSave.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/calculated/useCalculatedFieldSave.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useSchemaState.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/hooks/useSchemaState.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.test.tsx
  docs/getting-started/setup-guide/calculated-fields.md
  packages/ui/src/components/common/editable-text.tsx
  packages/ui/src/components/hover-card.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): add explicit UTC timezone to scheduled triggers (#1576)
  .changeset/explicit-utc-scheduled-triggers.md
  apps/backend/src/common/scheduler/shared/entities/scheduled-trigger.entity.spec.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ReportSchedulesInlineList/ReportSchedulesInlineList.test.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ReportSchedulesInlineList/ReportSchedulesInlineList.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.test.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleDisplay/ScheduleDisplay.test.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleDisplay/ScheduleDisplay.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/ScheduledTriggerForm.test.tsx
  apps/web/src/features/data-marts/scheduled-triggers/model/hooks/use-scheduled-trigger-form.ts
  apps/web/src/features/data-marts/scheduled-triggers/utils/schedule-utils.ts
  apps/web/src/services/timezone.service.test.ts
  apps/web/src/services/timezone.service.ts
  apps/web/src/shared/components/Combobox/combobox.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): open the Joinable Data Marts graph fitted to the whole diagram (#1574)
  .changeset/6858-graph-tab-default-zoom.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.test.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/relationship-canvas-zoom.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(plugin-host): surface release rejections and gate collection changes on SemVer (#1568)
  .changeset/6839-plugin-release-rejection-visibility.md
  apps/backend/src/plugin-host/enums/release-rejection-code.enum.ts
  apps/backend/src/plugin-host/use-cases/run-plugin-update-check.service.spec.ts
  apps/backend/src/plugin-host/use-cases/run-plugin-update-check.service.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.spec.ts
  apps/backend/src/plugin-host/use-cases/sync-plugin-releases.service.ts
  apps/backend/src/plugin-host/use-cases/update-plugin.service.spec.ts
  apps/backend/src/plugin-host/use-cases/update-plugin.service.ts
  apps/backend/src/plugin-host/utils/plugin-manifest.util.ts
  apps/backend/src/plugin-host/utils/semver.util.spec.ts
  apps/backend/src/plugin-host/utils/semver.util.ts
  apps/web/src/features/plugins/components/PluginReleaseIssuesCard.tsx
  apps/web/src/features/plugins/components/index.ts
  apps/web/src/features/plugins/hooks/usePluginPublications.ts
  apps/web/src/features/plugins/hooks/usePlugins.test.tsx
  apps/web/src/features/plugins/hooks/usePlugins.ts
  apps/web/src/features/plugins/index.ts
  apps/web/src/features/plugins/rejections.test.ts
  apps/web/src/features/plugins/rejections.ts
  apps/web/src/features/plugins/types.ts
  apps/web/src/pages/plugins/detail/PluginDetailsPage.test.tsx
  apps/web/src/pages/plugins/detail/PluginDetailsPage.tsx
  docs/plugins/authoring-guide.md
  packages/plugin-sdk/README.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): add report output-schema endpoint (#1572)
  .changeset/6807-report-output-schema.md
  apps/backend/src/data-marts/controllers/report.controller.ts
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/controllers/spec/report.openapi.spec.ts
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.spec.ts
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/blending-decision.dto.ts
  apps/backend/src/data-marts/dto/domain/get-report-output-schema.command.ts
  apps/backend/src/data-marts/dto/domain/report-like-read-plan.spec.ts
  apps/backend/src/data-marts/dto/presentation/report-output-schema-field-api.dto.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/data-marts/mappers/report.mapper.spec.ts
  apps/backend/src/data-marts/mappers/report.mapper.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/use-cases/get-report-output-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-output-schema.service.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-report-output-schema.tool.ts
  apps/backend/src/ee/mcp/tools/mcp-tool.providers.ts
  packages/api-client/src/index.ts
  packages/api-client/src/reports.test.ts
  packages/api-client/src/reports.ts
  packages/plugin-sdk/src/iframe-transport.test.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --config ./eslint.config.mjs: any of: **/*.{js,ts,mjs}
  prettier --write --config ./prettier.config.mjs: ((any of: **/*.{js,ts,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
