Repository middas-0706/js-data-connectors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,mjs}": [
    "eslint --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.mjs"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

Fix tmp library vulnerability (#394)
  package-lock.json
  package.json
Due: prettier --write --config ./prettier.config.mjs

fix: comment out unimplemented fields in Facebook Marketing API schemas (#401)
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-fields.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-user-fields.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Update README.md (#403)
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update README.md (#404)
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat (Web): Triggers list with improved HoverCards about Reports and Connectors (#388)
  .changeset/scheduledtriggers-hovercards.md
  apps/web/src/features/connectors/shared/components/ConnectorHoverCard/ConnectorHoverCard.tsx
  apps/web/src/features/connectors/shared/components/ConnectorHoverCard/index.ts
  apps/web/src/features/connectors/shared/components/ConnectorNameDisplay/ConnectorNameDisplay.tsx
  apps/web/src/features/connectors/shared/components/ConnectorNameDisplay/index.ts
  apps/web/src/features/connectors/shared/components/index.ts
  apps/web/src/features/connectors/shared/model/context/ConnectorContext.tsx
  apps/web/src/features/connectors/shared/model/mappers/connector-list.mapper.ts
  apps/web/src/features/connectors/shared/utils/index.ts
  apps/web/src/features/data-marts/reports/list/components/columns/columns.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportHoverCard/ReportHoverCard.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportStatus/ReportStatus.tsx
  apps/web/src/features/data-marts/reports/shared/components/ReportStatus/index.ts
  apps/web/src/features/data-marts/reports/shared/index.ts
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduleConfig/ScheduleConfig.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerForm/components/ReportSelector.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerFormSheet/ScheduledTriggerFormSheet.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerList/ScheduledTriggerList.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerRunTarget.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/columns.tsx
  apps/web/src/features/data-marts/scheduled-triggers/enums/trigger-config-types.enum.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/context/ScheduledTriggerContext.tsx
  apps/web/src/features/data-marts/scheduled-triggers/model/mappers/report-run-trigger.mapper.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/mappers/scheduled-trigger-mapper.ts
  apps/web/src/features/data-marts/scheduled-triggers/model/trigger-config.types.ts
  apps/web/src/features/data-marts/scheduled-triggers/utils/schedule-utils.ts
  apps/web/src/features/data-marts/shared/utils/run-data.utils.ts
  apps/web/src/features/data-marts/shared/utils/status.utils.ts
  apps/web/src/features/data-storage/shared/index.ts
  apps/web/src/features/data-storage/shared/utils/index.ts
  apps/web/src/features/data-storage/shared/utils/storage-url.utils.ts
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
  apps/web/src/shared/components/StatusLabel/status.config.ts
  packages/ui/src/components/common/relative-time.tsx
  packages/ui/src/components/hover-card.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(backend): enhance Google Sheets report formatting [f-5867] (#410)
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-values-formatter.ts
  apps/backend/src/data-marts/data-storage-types/athena/services/athena-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/bigquery/services/bigquery-report-reader.service.ts
  apps/backend/src/data-marts/data-storage-types/interfaces/data-storage-report-reader.interface.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

docs: clarify Reddit Ads import options and update instructional images (#402)
  packages/connectors/src/Sources/RedditAds/GETTING_STARTED.md
  packages/connectors/src/Sources/RedditAds/res/reddit_accountid.png
  packages/connectors/src/Sources/RedditAds/res/reddit_backfill.png
  packages/connectors/src/Sources/RedditAds/res/reddit_credentials.png
  packages/connectors/src/Sources/RedditAds/res/reddit_dataset.png
  packages/connectors/src/Sources/RedditAds/res/reddit_import.png
  packages/connectors/src/Sources/RedditAds/res/reddit_importcurrentday.png
  packages/connectors/src/Sources/RedditAds/res/reddit_pasteid.png
  packages/connectors/src/Sources/RedditAds/res/reddit_reimport.png
  packages/connectors/src/Sources/RedditAds/res/reddit_runbackfill.png
  packages/connectors/src/Sources/RedditAds/res/reddit_tokens.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update README.md (#411)
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web/backend): added triggers, reports columns to Data Mart list [f-5795] (#405)
  .changeset/added-triggers-reports-count-columns.md
  apps/backend/src/data-marts/dto/domain/data-mart.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-mart-response-api.dto.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/use-cases/list-data-marts.service.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnKeys.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columnLabels.ts
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/list/model/mappers/data-mart-list.mapper.ts
  apps/web/src/features/data-marts/list/model/types/dataMart.ts
  apps/web/src/features/data-marts/shared/types/api/response/data-mart.response.dto.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Feat(web): Collapsible card improvements (#413)
  apps/web/src/features/data-marts/edit/components/DataMartRunHistory.tsx
  apps/web/src/pages/data-marts/edit/DataMartDataSetupContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartOverviewContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartRunHistoryContent.tsx
  apps/web/src/pages/data-marts/edit/DataMartTriggersContent.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCard.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardActions.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeader.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeaderActions.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeaderTitle.tsx
  apps/web/src/shared/components/CollapsibleCard/index.ts
  apps/web/src/shared/components/CollapsibleCard/types.ts
  packages/ui/src/components/common/skeleton-list.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Update README.md (#415)
  README.md
  apps/docs/scripts/sync-docs.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web/backend/connectors): connector editable-defaults storage fields [f-5878] (#409)
  .changeset/connector-target-setup-editable-defaults.md
  apps/backend/src/data-marts/services/connector-execution.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/ConnectorEditForm.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
  packages/connector-runner/README.md
  packages/connectors/src/Core/AbstractConfig.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Sources/BingAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Storages/AwsAthena/AwsAthenaStorage.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

refactor(LinkedInAds): remove unused fields from adCampaignFields and creativesFields (#416)
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/adCampaignFields.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/creativesFields.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat(TikTokAds): mark App ID and App Secret as required fields (#412)
  packages/connectors/src/Sources/TikTokAds/Source.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Feat(Web): Destination tab updates (#417)
  .changeset/destination-cards-in-destination-tab.md
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/LookerStudioJsonConfigDescription.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditForm/GoogleSheetsReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/GoogleSheetsReportEditSheet/GoogleSheetsReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditForm/LookerStudioReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/LookerStudioReportEditSheet/LookerStudioReportEditSheet.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/useGoogleSheetsReportForm.ts
  apps/web/src/features/data-marts/reports/edit/hooks/useLookerStudioReportForm.ts
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsActionsCell/GoogleSheetsActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioActionsCell/LookerStudioActionsCell.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportsTable/LookerStudioReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/columns/columns.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/DestinationCard.tsx
  apps/web/src/features/data-marts/reports/shared/components/DestinationCard/index.ts
  apps/web/src/features/data-marts/reports/shared/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/features/data-marts/reports/shared/components/EmptyDataMartDestinationsState/index.ts
  apps/web/src/features/data-marts/reports/shared/components/index.ts
  apps/web/src/features/data-marts/reports/shared/index.ts
  apps/web/src/features/data-marts/reports/shared/model/context/reducer.ts
  apps/web/src/features/data-marts/reports/shared/model/context/types.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/index.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/useColumnVisibility.ts
  apps/web/src/features/data-marts/reports/shared/model/hooks/useReport.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/shared/components/CollapsibleCard/CollapsibleCardHeaderTitle.tsx
  packages/ui/src/components/common/copyable-field.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Create enhanced-output-schema-formatting.md (#414)
  .changeset/enhanced-output-schema-formatting.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: update Facebook Ads import instructions and add new images for clarity (#421)
  packages/connectors/src/Sources/FacebookMarketing/GETTING_STARTED.md
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_backfill.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_dataset.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_importgbq.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_importsheets.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_newdata.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_reimport.png
  packages/connectors/src/Sources/FacebookMarketing/res/facebook_runbackfill.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_credentials.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_fields.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_pasteid.png
  packages/connectors/src/Sources/FacebookMarketing/res/fb_token.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: improve main collage owox-data-marts-schema.svg (#422)
  docs/res/owox-data-marts-schema.svg
Due: none

feat: Initialize @owox/idp-protocol package with core types, NULL provider, and configuration files (#406)
  .github/workflows/lint-idp-protocol.yml
  .github/workflows/publish.yml
  package-lock.json
  packages/idp-protocol/.prettierrc.js
  packages/idp-protocol/README.md
  packages/idp-protocol/eslint.config.js
  packages/idp-protocol/package.json
  packages/idp-protocol/src/index.ts
  packages/idp-protocol/src/middleware/index.ts
  packages/idp-protocol/src/middleware/protocol-middleware.ts
  packages/idp-protocol/src/providers/index.ts
  packages/idp-protocol/src/providers/null-provider.ts
  packages/idp-protocol/src/types/cli.ts
  packages/idp-protocol/src/types/config.ts
  packages/idp-protocol/src/types/errors.ts
  packages/idp-protocol/src/types/index.ts
  packages/idp-protocol/src/types/models.ts
  packages/idp-protocol/src/types/provider.ts
  packages/idp-protocol/tsconfig.json
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

(fix): add idp-protocol to changeset config (#423)
  .changeset/config.json
Due: prettier --write --config ./prettier.config.mjs

fix: update MaxFetchingDays property to use 'default' instead of 'value' in BankOfCanada and CriteoAds sources (#424)
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/CriteoAds/Source.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat(web): implement column visibility and sorting persistence (#420)
  .changeset/ui-table-state-persistence.md
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/TargetSetupStep.tsx
  apps/web/src/features/data-destination/list/components/DataDestinationTable/DataDestinationTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/DataMartTable.tsx
  apps/web/src/features/data-marts/list/components/DataMartTable/columns/columns.tsx
  apps/web/src/features/data-marts/reports/list/components/GoogleSheetsReportsTable/GoogleSheetsReportsTable.tsx
  apps/web/src/features/data-marts/reports/list/components/LookerStudioReportsTable/LookerStudioReportsTable.tsx
  apps/web/src/features/data-marts/scheduled-triggers/components/ScheduledTriggerTable/ScheduledTriggerTable.tsx
  apps/web/src/features/data-storage/list/components/DataStorageTable/DataStorageTable.tsx
  apps/web/src/hooks/useTableStorage.ts
  apps/web/src/services/localstorage.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Bing Source Columns&Parser Errors (#427)
  .changeset/bingads-user-location-report-and-csv-fix.md
  packages/connectors/src/Core/EnvironmentAdapter.js
  packages/connectors/src/Sources/BingAds/BingAdsAPIReference/BingAdsFieldsSchema.js
  packages/connectors/src/Sources/BingAds/BingAdsAPIReference/userLocationPerformanceReportFields.js
  packages/connectors/src/Sources/BingAds/Source.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): fixed default column visibility bug (#430)
  apps/web/src/hooks/useTableStorage.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat: add build scripts for internal dependencies in workflows and package.json (#428)
  .github/workflows/lint-all.yml
  .github/workflows/lint-backend.yml
  .github/workflows/lint-connector-runner.yml
  .github/workflows/lint-connectors.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-idp-protocol.yml
  .github/workflows/lint-owox.yml
  .github/workflows/lint-ui.yml
  .github/workflows/lint-web.yml
  .github/workflows/publish.yml
  .github/workflows/test-all.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-connector-runner.yml
  .github/workflows/test-connectors.yml
  .github/workflows/test-owox.yml
  .github/workflows/test-web.yml
  apps/backend/package.json
  apps/owox/package.json
  apps/owox/tsconfig.json
  package.json
Due: prettier --write --config ./prettier.config.mjs

fix: remove unsupported fields from adAccountInsightsFields (#429)
  .changeset/neat-pots-knock.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(FacebookMarketing): update API base URL and refactor insights data fetching logic (#431)
  .changeset/giant-rabbits-grin.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Chore/prettier config (#432)
  apps/backend/package.json
  apps/docs/package.json
  apps/owox/package.json
  apps/web/package.json
  packages/connector-runner/package.json
  packages/idp-protocol/package.json
  packages/ui/package.json
Due: prettier --write --config ./prettier.config.mjs
