Repository middas-0706/js-data-connectors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,mjs}": [
    "eslint --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.mjs"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

Deploying to gh-pages from @ middas-0706/js-data-connectors@cb22b51f82f468296ee47ba88049e6071085491f 🚀
  docs/plugins/authoring-guide/index.html
  packages/plugin-sdk/readme/index.html
  pagefind/fragment/en_11324f3.pf_fragment
  pagefind/fragment/en_47d286d.pf_fragment
  pagefind/fragment/en_9d924f5.pf_fragment
  pagefind/fragment/en_c2851e6.pf_fragment
  pagefind/index/en_186929b.pf_index
  pagefind/index/en_19cf410.pf_index
  pagefind/index/en_1c3bf83.pf_index
  pagefind/index/en_2083120.pf_index
  pagefind/index/en_2a777b6.pf_index
  pagefind/index/en_4d4fe4d.pf_index
  pagefind/index/en_4edc24c.pf_index
  pagefind/index/en_5694cd6.pf_index
  pagefind/index/en_58bf93f.pf_index
  pagefind/index/en_5ece52a.pf_index
  pagefind/index/en_63d514b.pf_index
  pagefind/index/en_678e257.pf_index
  pagefind/index/en_6fd6d8c.pf_index
  pagefind/index/en_81d2972.pf_index
  pagefind/index/en_893c39d.pf_index
  pagefind/index/en_8f954ef.pf_index
  pagefind/index/en_9b28484.pf_index
  pagefind/index/en_9d82561.pf_index
  pagefind/index/en_acb98d2.pf_index
  pagefind/index/en_b08b546.pf_index
  pagefind/index/en_bed1ac0.pf_index
  pagefind/index/en_c018b0c.pf_index
  pagefind/index/en_cb69e2d.pf_index
  pagefind/index/en_dc16d14.pf_index
  pagefind/index/en_e01aeba.pf_index
  pagefind/index/en_e7e1f6c.pf_index
  pagefind/index/en_f335cfc.pf_index
  pagefind/index/en_f366232.pf_index
  pagefind/index/en_f84fc4e.pf_index
  pagefind/index/en_fb7ceda.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_da346c11f6.pf_meta
  pagefind/pagefind.en_e2e3b0df65.pf_meta
Due: prettier --write --config ./prettier.config.mjs

docs: add a Microsoft Excel destination page (#1578)
  apps/docs/data/meta-content.csv
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/microsoft-excel.md
  docs/getting-started/billing/consumption-units.md
  docs/getting-started/core-concepts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

perf(connectors): prune partitions in BigQuery incremental MERGE runs (#1579)
  .changeset/6880-bq-merge-partition-pruning.md
  packages/connectors/CREATING_CONNECTOR.md
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(backend): link the Google Sheets header note to the report (#1582)
  .changeset/6898-sheets-note-report-link.md
  apps/backend/src/common/helpers/data-mart-url.helper.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/services/email-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/ee/email/templates/email-report.template.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/ee/google-chat/services/google-chat-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/google-sheets-report-writer.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/services/sheet-formatters/sheet-metadata-formatter.ts
  docs/destinations/supported-destinations/google-sheets.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): open OWOX BI from the project menu in the current project (#1581)
  .changeset/6897-owox-bi-project-menu-link.md
  apps/web/src/components/AppSidebar/ProjectMenu/items.ts
  apps/web/src/components/AppSidebar/ProjectMenu/types.ts
  apps/web/src/components/AppSidebar/ProjectMenu/useProjectMenu.test.ts
  apps/web/src/components/AppSidebar/ProjectMenu/useProjectMenu.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: set the relationship description per join with inherited fallback (#1564)
  .changeset/6869-relationship-description-per-join.md
  apps/backend/src/data-marts/dto/domain/blendable-schema.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-blended-fields-config-api.dto.spec.ts
  apps/backend/src/data-marts/dto/presentation/update-blended-fields-config-api.dto.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schema.spec.ts
  apps/backend/src/data-marts/dto/schemas/blended-fields-config.schema.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-data-marts.facade.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinDescriptionForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changeset): describe partition pruning in user terms (#1584)
  .changeset/6880-bq-merge-partition-pruning.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(shopify): add checkoutToken and cartToken fields to orders (#1583)
  .changeset/6883-shopify-order-checkout-token.md
  packages/connectors/src/Sources/Shopify/ShopifyAPIReference/ordersFields.js
  packages/connectors/test/Sources/Shopify/Source.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(deps): bump qs to 6.16.0 (#1586)
  package-lock.json
Due: prettier --write --config ./prettier.config.mjs

Deploying to gh-pages from @ middas-0706/js-data-connectors@22fae6a0484e6659d209385a477dce34ef744992 🚀
  docs/destinations/supported-destinations/google-sheets/index.html
  pagefind/fragment/en_299678a.pf_fragment
  pagefind/fragment/en_6164b2e.pf_fragment
  pagefind/index/en_14f6952.pf_index
  pagefind/index/en_1daa86b.pf_index
  pagefind/index/en_1fcfe15.pf_index
  pagefind/index/en_227af54.pf_index
  pagefind/index/en_31527d8.pf_index
  pagefind/index/en_38b452a.pf_index
  pagefind/index/en_4b1ebb4.pf_index
  pagefind/index/en_4b5b456.pf_index
  pagefind/index/en_4eedce9.pf_index
  pagefind/index/en_5b4dfbe.pf_index
  pagefind/index/en_672ea12.pf_index
  pagefind/index/en_6c88c39.pf_index
  pagefind/index/en_884d394.pf_index
  pagefind/index/en_96362ea.pf_index
  pagefind/index/en_993eeb5.pf_index
  pagefind/index/en_9de2b02.pf_index
  pagefind/index/en_9fe6faa.pf_index
  pagefind/index/en_a09cd98.pf_index
  pagefind/index/en_af365e2.pf_index
  pagefind/index/en_afdb574.pf_index
  pagefind/index/en_b314456.pf_index
  pagefind/index/en_bae964e.pf_index
  pagefind/index/en_c9635c2.pf_index
  pagefind/index/en_cf757e2.pf_index
  pagefind/index/en_d3783a2.pf_index
  pagefind/index/en_da6f7bb.pf_index
  pagefind/index/en_e39d681.pf_index
  pagefind/index/en_ebede0d.pf_index
  pagefind/index/en_ecf9149.pf_index
  pagefind/index/en_f244771.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_33a2a7c7ad.pf_meta
  pagefind/pagefind.en_b9715b4b2c.pf_meta
Due: prettier --write --config ./prettier.config.mjs

fix: refresh recommended AI model catalogs (#1590)
  apps/backend/src/data-marts/credentials/services/builtin-credential-definitions.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

docs(facebook): explain app rate limits and label retry settings (#1588)
  .changeset/6902-retry-settings-labels.md
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Sources/FacebookMarketing/TROUBLESHOOTING.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs: fix reusable credentials links
  .changeset/6862-reusable-credentials.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(linkedin-ads): fetch adAnalytics per day to avoid the 15,000-element truncation (#1569)
  .changeset/6871-linkedin-ads-adanalytics-truncation.md
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInAds/GETTING_STARTED.md
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/test/Sources/LinkedInAds/Source.test.js
  packages/connectors/test/Sources/LinkedInAds/perDayCheckpoint.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): guide users whose project has no published data mart (#1587)
  .changeset/6808-mcp-empty-project-guidance.md
  apps/backend/src/ee/mcp/instructions/mcp-instructions.service.spec.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-catalog.tool.ts
  apps/backend/src/ee/mcp/tools/data-mart-ui-path.ts
  apps/backend/src/ee/mcp/tools/mcp-docs-urls.ts
  apps/backend/src/ee/mcp/tools/mcp-getting-started.util.spec.ts
  apps/backend/src/ee/mcp/tools/mcp-getting-started.util.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.spec.ts
  apps/backend/src/ee/mcp/tools/search-data-marts.tool.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.spec.ts
  apps/backend/src/ee/mcp/tools/summarize-data-catalog.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ middas-0706/js-data-connectors@93ed7eabb9a6bfd5f014a3b095a5f18c0b5443bb 🚀
  docs/getting-started/setup-guide/mcp/index.html
  packages/connectors/src/sources/linked-in-ads/getting-started/index.html
  pagefind/fragment/en_279eafc.pf_fragment
  pagefind/fragment/en_28f9896.pf_fragment
  pagefind/fragment/en_2dd42cf.pf_fragment
  pagefind/fragment/en_d018dc3.pf_fragment
  pagefind/index/en_19b90e5.pf_index
  pagefind/index/en_2582d1c.pf_index
  pagefind/index/en_2936cfd.pf_index
  pagefind/index/en_4093348.pf_index
  pagefind/index/en_463cedc.pf_index
  pagefind/index/en_4fff675.pf_index
  pagefind/index/en_5c40158.pf_index
  pagefind/index/en_5cee61d.pf_index
  pagefind/index/en_6227e34.pf_index
  pagefind/index/en_62bae2d.pf_index
  pagefind/index/en_67859ba.pf_index
  pagefind/index/en_6925727.pf_index
  pagefind/index/en_6b32534.pf_index
  pagefind/index/en_7a6fccb.pf_index
  pagefind/index/en_7f38657.pf_index
  pagefind/index/en_84b035b.pf_index
  pagefind/index/en_8db42f4.pf_index
  pagefind/index/en_9beec01.pf_index
  pagefind/index/en_a5261b5.pf_index
  pagefind/index/en_af3c58d.pf_index
  pagefind/index/en_c3f2f74.pf_index
  pagefind/index/en_c4e014c.pf_index
  pagefind/index/en_cbb7daa.pf_index
  pagefind/index/en_cff41b2.pf_index
  pagefind/index/en_d3ba568.pf_index
  pagefind/index/en_e887efa.pf_index
  pagefind/index/en_ea25ab2.pf_index
  pagefind/index/en_ec309bd.pf_index
  pagefind/index/en_ee79ba7.pf_index
  pagefind/index/en_f5859a1.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_42eb70d9aa.pf_meta
  pagefind/pagefind.en_b09e50cd40.pf_meta
Due: prettier --write --config ./prettier.config.mjs

fix: scope automatic project redirects to users (#1591)
  .changeset/6894-user-bound-project-redirect.md
  packages/idp-owox-better-auth/src/owox-better-auth-idp.ts
  packages/idp-owox-better-auth/src/owox-better-auth-idp.user-bound-redirect.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.test.ts
  packages/idp-owox-better-auth/src/utils/request-utils.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): update an existing report instead of creating duplicates (#1585)
  .changeset/6847-mcp-report-tool-improvements.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api-adapter.factory.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/sheet-title.util.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/domain/google-sheets/add-google-sheet-to-spreadsheet.command.ts
  apps/backend/src/data-marts/dto/domain/google-sheets/added-google-sheet.dto.ts
  apps/backend/src/data-marts/facades/mcp-report-output-controls.spec.ts
  apps/backend/src/data-marts/facades/mcp-report-output-controls.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.spec.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.impl.ts
  apps/backend/src/data-marts/facades/mcp-reports.facade.ts
  apps/backend/src/data-marts/use-cases/google-sheets/add-google-sheet-to-spreadsheet.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/add-google-sheet-to-spreadsheet.service.ts
  apps/backend/src/data-marts/use-cases/google-sheets/reconnect-google-sheet.service.ts
  apps/backend/src/ee/mcp/instructions/mcp-instructions.service.spec.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.spec.ts
  apps/backend/src/ee/mcp/tools/get-data-mart-reports.tool.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.input.ts
  apps/backend/src/ee/mcp/tools/report-output-controls-input.ts
  apps/backend/src/ee/mcp/tools/report-output-controls-output.ts
  apps/backend/src/ee/mcp/tools/report-run-outcome.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.spec.ts
  apps/backend/src/ee/mcp/tools/update-report.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(bigquery): retry transient query failures instead of failing the run (#1593)
  .changeset/6887-bigquery-retry-transient-merge-errors.md
  packages/connectors/src/Core/AbstractSource.js
  packages/connectors/src/Core/Utils/AsyncUtils.js
  packages/connectors/src/Storages/GoogleBigQuery/GoogleBigQueryStorage.js
  packages/connectors/src/Storages/GoogleBigQuery/README.md
  packages/connectors/test/Core/AsyncUtils.test.js
  packages/connectors/test/Storages/GoogleBigQuery/GoogleBigQueryStorage.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(canvas): prevent full-page errors in Model Canvas for larger data models (#1594)
  .changeset/6835-fix-canvas.md
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasView.tsx
  apps/web/src/features/data-marts/shared/canvas/dagre-layout.test.ts
  apps/web/src/features/data-marts/shared/canvas/dagre-layout.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ middas-0706/js-data-connectors@29a9def1ea949c9940e81145babd94d70b46c5f3 🚀
  docs/getting-started/setup-guide/mcp/index.html
  packages/connectors/src/storages/google-big-query/readme/index.html
  pagefind/fragment/en_28f9896.pf_fragment
  pagefind/fragment/en_45abe0b.pf_fragment
  pagefind/fragment/en_634e88e.pf_fragment
  pagefind/fragment/en_fd2027b.pf_fragment
  pagefind/index/en_19b90e5.pf_index
  pagefind/index/en_20d9a73.pf_index
  pagefind/index/en_2112c34.pf_index
  pagefind/index/en_2582d1c.pf_index
  pagefind/index/en_3a439f9.pf_index
  pagefind/index/en_4093348.pf_index
  pagefind/index/en_43d0ed2.pf_index
  pagefind/index/en_463cedc.pf_index
  pagefind/index/en_4bdbc85.pf_index
  pagefind/index/en_5c40158.pf_index
  pagefind/index/en_5cee61d.pf_index
  pagefind/index/en_5d4680c.pf_index
  pagefind/index/en_6227e34.pf_index
  pagefind/index/en_67859ba.pf_index
  pagefind/index/en_814d621.pf_index
  pagefind/index/en_8db42f4.pf_index
  pagefind/index/en_9beec01.pf_index
  pagefind/index/en_9d27d10.pf_index
  pagefind/index/en_a5261b5.pf_index
  pagefind/index/en_af3c58d.pf_index
  pagefind/index/en_b7d5735.pf_index
  pagefind/index/en_c19445c.pf_index
  pagefind/index/en_cff41b2.pf_index
  pagefind/index/en_d6c09dc.pf_index
  pagefind/index/en_dd60eab.pf_index
  pagefind/index/en_e4c6881.pf_index
  pagefind/index/en_e887efa.pf_index
  pagefind/index/en_e968fb3.pf_index
  pagefind/index/en_e96d2d3.pf_index
  pagefind/index/en_ec309bd.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4bcadf36e4.pf_meta
  pagefind/pagefind.en_b09e50cd40.pf_meta
Due: prettier --write --config ./prettier.config.mjs

fix: prevent truncated Data Studio responses (#1595)
  .changeset/6886-data-studio-large-response-truncation.md
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api-data.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: surface Data Studio schema query errors (#1596)
  .changeset/6919-data-studio-schema-query-errors.md
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.spec.ts
  apps/backend/src/data-marts/data-destination-types/looker-studio-connector/services/looker-studio-connector-api.service.ts
  apps/backend/src/data-marts/errors/data-mart-read-failed.error.ts
  apps/backend/src/data-marts/services/report-data-cache.service.spec.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/test/looker-studio-connector.e2e-spec.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(excel): replace manifest install with Office Add-ins store guide (#1600)
  docs/destinations/supported-destinations/microsoft-excel.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ middas-0706/js-data-connectors@6de48159997670e5388ea928caa5b92e12db32dd 🚀
  docs/destinations/supported-destinations/microsoft-excel/index.html
  pagefind/fragment/en_5da75e3.pf_fragment
  pagefind/fragment/en_84d8d3d.pf_fragment
  pagefind/index/en_20d9a73.pf_index
  pagefind/index/en_2112c34.pf_index
  pagefind/index/en_2bce1a6.pf_index
  pagefind/index/en_3a439f9.pf_index
  pagefind/index/en_43d0ed2.pf_index
  pagefind/index/en_45ed534.pf_index
  pagefind/index/en_4b6e8b6.pf_index
  pagefind/index/en_4bdbc85.pf_index
  pagefind/index/en_54468a4.pf_index
  pagefind/index/en_551cae3.pf_index
  pagefind/index/en_5b7b3c4.pf_index
  pagefind/index/en_5d4680c.pf_index
  pagefind/index/en_6b3f1b2.pf_index
  pagefind/index/en_814d621.pf_index
  pagefind/index/en_8475722.pf_index
  pagefind/index/en_97d1ce3.pf_index
  pagefind/index/en_9d27d10.pf_index
  pagefind/index/en_a555a4d.pf_index
  pagefind/index/en_ae91acb.pf_index
  pagefind/index/en_b7d5735.pf_index
  pagefind/index/en_c19445c.pf_index
  pagefind/index/en_d4df6f9.pf_index
  pagefind/index/en_d6c09dc.pf_index
  pagefind/index/en_d7279ee.pf_index
  pagefind/index/en_dd60eab.pf_index
  pagefind/index/en_dfad461.pf_index
  pagefind/index/en_e4c6881.pf_index
  pagefind/index/en_e7bf1d7.pf_index
  pagefind/index/en_e968fb3.pf_index
  pagefind/index/en_e96d2d3.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1ae8e37238.pf_meta
  pagefind/pagefind.en_4bcadf36e4.pf_meta
Due: prettier --write --config ./prettier.config.mjs

feat(data-marts): allow editing draft joins (#1599)
  .changeset/6905-edit-draft-joins.md
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/controllers/data-mart.controller.ts
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/dto/domain/get-blendable-schema.command.ts
  apps/backend/src/data-marts/mappers/data-mart.mapper.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/use-cases/get-blendable-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-blendable-schema.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/DataMartSchemaSettings.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  apps/web/src/features/data-marts/shared/hooks/__tests__/useBlendableSchema.test.tsx
  apps/web/src/features/data-marts/shared/hooks/blendable-schema-query-key.ts
  apps/web/src/features/data-marts/shared/hooks/useBlendableSchema.ts
  apps/web/src/features/data-marts/shared/hooks/useInvalidateBlendableSchema.ts
  apps/web/src/features/data-marts/shared/services/data-mart-relationship.service.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(plugins): add operator guide for deployment-wide trusted plugins (#1570)
  apps/docs/astro.config.mjs
  docs/plugins/authoring-guide.md
  docs/plugins/trusted-plugins.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add "Connect AI assistant" step to the project setup checklist (#1589)
  .changeset/6798-setup-checklist-mcp-step.md
  apps/backend/src/data-marts/controllers/project-setup-progress.controller.openapi.spec.ts
  apps/backend/src/data-marts/dto/domain/project-setup-steps.interface.ts
  apps/backend/src/data-marts/dto/presentation/project-setup-progress-response-api.dto.ts
  apps/backend/src/data-marts/events/mcp-query-completed-successfully.event.ts
  apps/backend/src/data-marts/services/data-mart-run.service.spec.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/services/project-setup-progress-listener.service.ts
  apps/backend/src/data-marts/services/project-setup-progress.service.spec.ts
  apps/backend/src/data-marts/services/project-setup-progress.service.ts
  apps/web/src/components/AppSidebar/SetupChecklist/ConnectAiAssistantAction.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/items.tsx
  apps/web/src/components/AppSidebar/SetupChecklist/types.ts
  apps/web/src/components/AppSidebar/SetupChecklist/useSetupProgress.ts
  apps/web/src/shared/icons/chat-gpt-icon.tsx
  apps/web/src/shared/icons/claude-icon.tsx
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
  packages/api-client/src/project-setup-progress.test.ts
  packages/api-client/src/project.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): link the OWOX add-in for Excel from the empty reports state (#1598)
  .changeset/6940-excel-add-in-link.md
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/ExcelDescription.tsx
  apps/web/src/features/data-marts/reports/list/components/ReportsTable/ReportsTable.test.tsx
  apps/web/src/features/data-marts/reports/list/components/ReportsTable/ReportsTable.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): keep output schema field connection statuses server-owned (#1601)
  .changeset/6935-output-schema-field-connection-status.md
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.type.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/dto/domain/update-data-mart-schema.command.ts
  apps/backend/src/data-marts/dto/presentation/update-data-mart-schema-api.dto.ts
  apps/backend/src/data-marts/entities/data-mart.entity.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.spec.ts
  apps/backend/src/data-marts/use-cases/update-data-mart-schema.service.ts
  apps/backend/test/blended-output-controls.e2e-spec.ts
  apps/backend/test/formula-live-validation.e2e-spec.ts
  apps/backend/test/http-data.e2e-spec.ts
  apps/backend/test/output-controls-databricks-emission.e2e-spec.ts
  apps/backend/test/output-controls-emission.e2e-spec.ts
  apps/backend/test/output-controls-legacy-bq-emission.e2e-spec.ts
  apps/backend/test/output-controls-redshift-emission.e2e-spec.ts
  apps/backend/test/output-controls-snowflake-emission.e2e-spec.ts
  apps/backend/test/output-controls.e2e-spec.ts
  apps/backend/test/validation-schema.e2e-spec.ts
  apps/web/e2e/fixtures/api-helpers.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.test.ts
  apps/web/src/features/data-marts/shared/services/data-mart.service.ts
  apps/web/src/features/data-marts/shared/types/api/request/update-data-mart-schema.request.dto.ts
  packages/test-utils/README.md
  packages/test-utils/src/helpers/index.ts
  packages/test-utils/src/helpers/set-data-mart-schema.ts
  packages/test-utils/src/helpers/setup-blended-report-prerequisites.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): sort projects in the switcher alphabetically (#1603)
  .changeset/6922-sort-projects-alphabetically.md
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.test.tsx
  apps/web/src/components/AppSidebar/ProjectMenu/SwitchProjectMenu.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: keep report output controls consistent with the column selection and the schema (#1597)
  .changeset/6768-output-controls-stale-rules.md
  apps/backend/src/data-marts/dto/domain/blending-decision.dto.ts
  apps/backend/src/data-marts/errors/disconnected-report-columns.error.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/known-output-columns.util.spec.ts
  apps/backend/src/data-marts/services/known-output-columns.util.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/data-marts/services/report-data-cache.service.spec.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.spec.ts
  apps/backend/src/data-marts/services/report-sql-composer.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.spec.ts
  apps/backend/src/ee/mcp/tools/output-controls-error.mapper.ts
  apps/backend/test/output-controls.e2e-spec.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/SortRow.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-cleanup.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-cleanup.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-display.test.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-display.ts
  apps/web/src/shared/utils/showApiErrorToast.test.ts
  apps/web/src/shared/utils/showApiErrorToast.ts
  docs/getting-started/setup-guide/output-controls.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(deps): resolve production audit vulnerabilities (#1604)
  package-lock.json
  package.json
  packages/connectors/package.json
Due: prettier --write --config ./prettier.config.mjs

feat(reports): add AI assistant connection prompts and actions to Reports page (#1602)
  .changeset/6798-reports-page-connect-ai-assistant-promo.md
  apps/web/src/pages/data-marts/reports/AiAssistantHintCard.tsx
  apps/web/src/pages/data-marts/reports/ConnectAiAssistantPromoActions.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/shared/components/PromoBlock/PromoBlock.tsx
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ middas-0706/js-data-connectors@5b6105df69942c2a7f0ba9c038644247f47d368c 🚀
  docs/getting-started/setup-guide/output-controls/index.html
  packages/test-utils/readme/index.html
  pagefind/fragment/en_a96fcbd.pf_fragment
  pagefind/fragment/en_cb5ae65.pf_fragment
  pagefind/fragment/en_de40bc9.pf_fragment
  pagefind/fragment/en_f5fc122.pf_fragment
  pagefind/index/en_20083ff.pf_index
  pagefind/index/en_22f5fe1.pf_index
  pagefind/index/en_25fb7c4.pf_index
  pagefind/index/en_3236ee5.pf_index
  pagefind/index/en_353b2d6.pf_index
  pagefind/index/en_3b171ee.pf_index
  pagefind/index/en_45f0f72.pf_index
  pagefind/index/en_5b9675e.pf_index
  pagefind/index/en_5f5ec08.pf_index
  pagefind/index/en_634610f.pf_index
  pagefind/index/en_6f5da31.pf_index
  pagefind/index/en_768c833.pf_index
  pagefind/index/en_8a343bb.pf_index
  pagefind/index/en_9032649.pf_index
  pagefind/index/en_95d7a0d.pf_index
  pagefind/index/en_a741fea.pf_index
  pagefind/index/en_aba2032.pf_index
  pagefind/index/en_b0f95df.pf_index
  pagefind/index/en_b6d3bb7.pf_index
  pagefind/index/en_b6e5651.pf_index
  pagefind/index/en_c4d1274.pf_index
  pagefind/index/en_c645128.pf_index
  pagefind/index/en_d0b5891.pf_index
  pagefind/index/en_d3a2b09.pf_index
  pagefind/index/en_e9e49c4.pf_index
  pagefind/index/en_ec1e5b3.pf_index
  pagefind/index/en_ee5b236.pf_index
  pagefind/index/en_f06f421.pf_index
  pagefind/index/en_f97a1b9.pf_index
  pagefind/index/en_fd75aa7.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_944f3b9de8.pf_meta
  pagefind/pagefind.en_ca74c39064.pf_meta
Due: prettier --write --config ./prettier.config.mjs
