Repository middas-0706/js-data-connectors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

.lintstagedrc.json:

{
  "**/*.{js,ts,mjs}": [
    "eslint --config ./eslint.config.mjs",
    "prettier --write --config ./prettier.config.mjs"
  ],
  "**/*.json": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.{yml,yaml}": ["prettier --write --config ./prettier.config.mjs"],
  "**/*.md": ["markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs"]
}

Update README.md (#350)
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Fixes/notifications timeout trigger issue (#349)
  packages/connectors/src/Configs/AppsScript/EmailNotification.js
  packages/connectors/src/Configs/AppsScript/GoogleChatNotification.js
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat: add labels and descriptions to Source fields (#352)
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/BingAds/Source.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/GitHub/Source.js
  packages/connectors/src/Sources/LinkedIn/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/OpenHolidays/Source.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Templates/PublicEndPoint/Source.js
  packages/connectors/src/Templates/Token-Based/Source.js
  packages/connectors/src/Views/credentials-input-dialog.html
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

docs: update core concepts main image (#355)
  docs/getting-started/core-concepts.md
  docs/res/main-core-concepts.png
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

add: Storage Management + Destination Management docs (#356)
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/google-spreadsheets.md
  docs/destinations/supported-destinations/looker-studio.md
  docs/storages/manage-storages.md
  docs/storages/supported-storages/aws-athena.md
  docs/storages/supported-storages/google-bigquery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Introduce migrations (#351)
  apps/backend/commands/apply-dump-inserts.ts
  apps/backend/commands/create-dump-inserts.ts
  apps/backend/package.json
  apps/backend/src/config/data-source-options.config.ts
  apps/backend/src/config/migrations.config.ts
  apps/backend/src/migrations/1750350724543-create-data-storage-table.ts
  apps/backend/src/migrations/1750350724544-create-data-mart-table.ts
  apps/backend/src/migrations/1750350724545-create-connector-state-table.ts
  apps/backend/src/migrations/1750350724546-create-data-destination-table.ts
  apps/backend/src/migrations/1750350724547-create-data-mart-run-table.ts
  apps/backend/src/migrations/1750350724548-create-data-mart-scheduled-trigger-table.ts
  apps/backend/src/migrations/1750350724549-create-report-table.ts
  package.json
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Add files via upload (#359)
  docs/res/screens/Connector-Based DataMart - 1.png
  docs/res/screens/Connector-Based DataMart - 2.png
  docs/res/screens/Connector-Based DataMart - Connector Config.png
  docs/res/screens/Connector-Based DataMart - Description.png
  docs/res/screens/Connector-Based DataMart - Manual Run.png
  docs/res/screens/Connector-Based DataMart - Output Schema.png
  docs/res/screens/Connector-Based DataMart - Platform Select.png
  docs/res/screens/Connector-Based DataMart - Schema Setup.png
  docs/res/screens/SQL-Based DataMart - 1.png
  docs/res/screens/SQL-Based DataMart - Description.png
  docs/res/screens/SQL-Based DataMart - Output Schema.png
  docs/res/screens/SQL-Based DataMart - Report.png
  docs/res/screens/SQL-Based DataMart - Run Report.png
  docs/res/screens/SQL-Based DataMart - SQL.png
  docs/res/screens/SQL-Based DataMart - Trigger.png
  docs/res/screens/Storage - 1.png
  docs/res/screens/Storage - 2.png
  docs/res/screens/Storage - 3.png
  docs/res/screens/Storage - 4.png
  docs/res/screens/Storage - 5.png
Due: none

fix(docs): reorganize connectors section (#347)
  apps/docs/astro.config.mjs
  docs/getting-started/setup-guide/.gitkeep
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Core concepts illustration update (#362)
  docs/getting-started/core-concepts.md
  docs/res/core-concepts.svg
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add files via upload
  docs/res/core-concepts.svg
Due: none

Minor schema improvements
  docs/res/core-concepts.svg
Due: none

Update the main illustration in the core README file (#363)
  README.md
  docs/res/owox-data-marts-schema.svg
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update core-concepts.md
  docs/getting-started/core-concepts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add files via upload (#364)
  docs/res/owox-data-marts-schema.svg
Due: none

feat: implement bootstrap functionality and restructure main entry point (#360)
  apps/backend/package.json
  apps/backend/src/bootstrap.ts
  apps/backend/src/index.ts
  apps/backend/src/main.ts
  apps/backend/tsconfig.json
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  package-lock.json
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Add files via upload (#361)
  docs/res/screens/Connector-Based-DataMart-1.png
  docs/res/screens/Connector-Based-DataMart-2.png
  docs/res/screens/Connector-Based-DataMart-Connector-Config.png
  docs/res/screens/Connector-Based-DataMart-Description.png
  docs/res/screens/Connector-Based-DataMart-Manual-Run.png
  docs/res/screens/Connector-Based-DataMart-Output-Schema.png
  docs/res/screens/Connector-Based-DataMart-Platform-Select.png
  docs/res/screens/Connector-Based-DataMart-Schema-Setup.png
  docs/res/screens/SQL-Based-DataMart-1.png
  docs/res/screens/SQL-Based-DataMart-Description.png
  docs/res/screens/SQL-Based-DataMart-Output-Schema.png
  docs/res/screens/SQL-Based-DataMart-Report.png
  docs/res/screens/SQL-Based-DataMart-Run-Report.png
  docs/res/screens/SQL-Based-DataMart-SQL.png
  docs/res/screens/SQL-Based-DataMart-Trigger.png
  docs/res/screens/Storage-1.png
  docs/res/screens/Storage-2.png
  docs/res/screens/Storage-3.png
  docs/res/screens/Storage-4.png
  docs/res/screens/Storage-5.png
Due: none

chore: update package dependencies and improve local development instructions (#366)
  apps/backend/commands/apply-dump-inserts.ts
  apps/backend/commands/create-dump-inserts.ts
  apps/backend/package.json
  apps/backend/scripts/data-source.ts
  apps/backend/src/config/migrations.config.ts
  apps/backend/tsconfig.build.json
  apps/owox/CONTRIBUTING.md
  apps/owox/package.json
  apps/owox/src/commands/serve.ts
  package-lock.json
  package.json
  packages/connectors/eslint.config.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix main core concepts visual for dark theme (#368)
  docs/getting-started/core-concepts.md
  docs/res/core-concepts.svg
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update README.md (#365)
  README.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

backend: add create-dump and apply-dump commands (#371)
  apps/backend/commands/apply-dump-command.ts
  apps/backend/commands/create-dump-command.ts
  apps/backend/commands/create-migration-template-command.ts
  apps/backend/package.json
  apps/backend/src/dump/apply-dump.ts
  apps/backend/src/dump/create-dump.ts
  apps/backend/src/index.ts
  package.json
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

update OWOX data marts schema SVG (#374)
  docs/res/owox-data-marts-schema.svg
Due: none

feat(docs): add changelog to the docs.owox.com (#375)
  .gitattributes
  .github/workflows/release-pr.yml
  .markdownlint-cli2.mjs
  apps/backend/CHANGELOG.md
  apps/docs/astro.config.mjs
  apps/docs/scripts/sync-docs.js
  apps/owox/CHANGELOG.md
  packages/connector-runner/CHANGELOG.md
  tools/fix-changelog-headings.mjs
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Update NodesSelectionStep.tsx (#372)
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/NodesSelectionStep.tsx
Due: none

Add `dump-create` and `dump-apply` commands with support for database dump management in OWOX Data Marts. Refactor error handling and log setup in base command. (#373)
  apps/owox/src/commands/base.ts
  apps/owox/src/commands/dump-apply.ts
  apps/owox/src/commands/dump-create.ts
  apps/owox/src/commands/serve.ts
  package-lock.json
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

Getting Started Documentation (#370)
  docs/getting-started/core-concepts.md
  docs/getting-started/setup-guide/connector-data-mart.md
  docs/getting-started/setup-guide/connector-triggers.md
  docs/getting-started/setup-guide/pattern-data-mart.md
  docs/getting-started/setup-guide/report-triggers.md
  docs/getting-started/setup-guide/sql-data-mart.md
  docs/getting-started/setup-guide/table-data-mart.md
  docs/getting-started/setup-guide/view-data-mart.md
  docs/res/screens/Connector-Based DataMart - 1.png
  docs/res/screens/Connector-Based DataMart - 2.png
  docs/res/screens/Connector-Based DataMart - Connector Config.png
  docs/res/screens/Connector-Based DataMart - Description.png
  docs/res/screens/Connector-Based DataMart - Manual Run.png
  docs/res/screens/Connector-Based DataMart - Output Schema.png
  docs/res/screens/Connector-Based DataMart - Platform Select.png
  docs/res/screens/Connector-Based DataMart - Schema Setup.png
  docs/res/screens/Connector-Trigger-1.png
  docs/res/screens/Manual-run.png
  docs/res/screens/SQL-Based DataMart - 1.png
  docs/res/screens/SQL-Based DataMart - Description.png
  docs/res/screens/SQL-Based DataMart - Output Schema.png
  docs/res/screens/SQL-Based DataMart - Report.png
  docs/res/screens/SQL-Based DataMart - Run Report.png
  docs/res/screens/SQL-Based DataMart - SQL.png
  docs/res/screens/SQL-Based DataMart - Trigger.png
  docs/res/screens/Storage - 1.png
  docs/res/screens/Storage - 2.png
  docs/res/screens/Storage - 3.png
  docs/res/screens/Storage - 4.png
  docs/res/screens/Storage - 5.png
  docs/res/screens/pattern-based-data-mart-1.png
  docs/res/screens/pattern-based-data-mart-2.png
  docs/res/screens/pattern-based-data-mart-3.png
  docs/res/screens/table-data-mart-output-schema.png
  docs/res/screens/table-data-mart-publish.png
  docs/storages/manage-storages.md
  docs/storages/supported-storages/google-bigquery.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Add AbstractRunConfig&manual backfill feature (#348)
  docs/getting-started/quick-start.md
  packages/connectors/src/Configs/AppsScript/GoogleSheetsConfig.js
  packages/connectors/src/Constants/CommonConstants.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/src/Core/AbstractRunConfig.js
  packages/connectors/src/Sources/BankOfCanada/Code.gs
  packages/connectors/src/Sources/BankOfCanada/Source.js
  packages/connectors/src/Sources/BingAds/Code.gs
  packages/connectors/src/Sources/BingAds/Connector.js
  packages/connectors/src/Sources/BingAds/Source.js
  packages/connectors/src/Sources/CriteoAds/Code.gs
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/Code.gs
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/GitHub/Code.gs
  packages/connectors/src/Sources/GitHub/Connector.js
  packages/connectors/src/Sources/LinkedIn/Code.gs
  packages/connectors/src/Sources/LinkedIn/Connector.js
  packages/connectors/src/Sources/LinkedIn/Source.js
  packages/connectors/src/Sources/OpenExchangeRates/Code.gs
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/OpenExchangeRates/Source.js
  packages/connectors/src/Sources/OpenHolidays/Code.gs
  packages/connectors/src/Sources/OpenHolidays/Source.js
  packages/connectors/src/Sources/RedditAds/Code.gs
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Source.js
  packages/connectors/src/Sources/TikTokAds/Code.gs
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/Source.js
  packages/connectors/src/Sources/XAds/Code.gs
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/Source.js
  packages/connectors/src/Templates/PublicEndPoint/Code.gs
  packages/connectors/src/Templates/PublicEndPoint/Source.js
  packages/connectors/src/Templates/Token-Based/Code.gs
  packages/connectors/src/Views/manual-backfill-dialog.html
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(ci): update publish workflow to build and push container images (#377)
  .github/workflows/publish.yml
  Dockerfile
Due: prettier --write --config ./prettier.config.mjs

fix(ci): use lowercase repository name for container image
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.mjs

fix(ci): add checks for npm package existence before bulding container images
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.mjs

fix(ci): update npm package existence checks to include @owox/backend
  .github/workflows/publish.yml
Due: prettier --write --config ./prettier.config.mjs

feat(web/backend): updated the logic for displaying credentials in Data Storage and Data Destination (#334)
  .changeset/improving-credentials-management-security.md
  apps/backend/src/data-marts/data-destination-types/data-destination-credentials.utils.ts
  apps/backend/src/data-marts/data-destination-types/data-destination-providers.ts
  apps/backend/src/data-marts/data-destination-types/factories/data-destination-public-credentials.factory.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/data-storage-types/data-storage-providers.ts
  apps/backend/src/data-marts/data-storage-types/factories/data-storage-public-credentials.factory.ts
  apps/backend/src/data-marts/dto/domain/update-data-destination.command.ts
  apps/backend/src/data-marts/dto/domain/update-data-storage.command.ts
  apps/backend/src/data-marts/dto/presentation/data-destination-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/data-storage-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-data-destination-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/update-data-storage-api.dto.ts
  apps/backend/src/data-marts/mappers/data-destination.mapper.ts
  apps/backend/src/data-marts/mappers/data-storage.mapper.ts
  apps/backend/src/data-marts/use-cases/update-data-destination.service.ts
  apps/backend/src/data-marts/use-cases/update-data-storage.service.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/GoogleSheetsFields.tsx
  apps/web/src/features/data-destination/shared/model/mappers/destination-mapper.interface.ts
  apps/web/src/features/data-destination/shared/model/mappers/google-sheets.mapper.ts
  apps/web/src/features/data-destination/shared/services/types/update-data-destination.request.dto.ts
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/AwsAthenaFields.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/DataStorageForm.tsx
  apps/web/src/features/data-storage/edit/components/DataStorageEditForm/GoogleBigQueryFields.tsx
  apps/web/src/features/data-storage/shared/api/types/request/update-data-storage.request.dto.ts
  apps/web/src/features/data-storage/shared/components/DataStorageDetails/DataStorageDetails.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageInfo/CredentialsSection.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageInfo/DataStorageInfo.tsx
  apps/web/src/features/data-storage/shared/components/DataStorageInfo/index.ts
  apps/web/src/features/data-storage/shared/model/mappers/aws-athena.mapper.ts
  apps/web/src/features/data-storage/shared/model/mappers/google-bigquery.mapper.ts
  apps/web/src/features/data-storage/shared/model/mappers/storage-mapper.interface.ts
  apps/web/src/shared/schemas/google-credentials.schema.ts
  apps/web/src/utils/form-utils.ts
  apps/web/src/utils/google-cloud-utils.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix: add extra check to values in areValuesEqual (#380)
  packages/connectors/src/Storages/GoogleSheets/GoogleSheetsStorage.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat: make destination name static in sources schemas (#376)
  packages/connectors/src/Core/Utils/FormatUtils.js
  packages/connectors/src/Sources/BingAds/BingAdsAPIReference/BingAdsFieldsSchema.js
  packages/connectors/src/Sources/BingAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/CriteoAds/CriteoAdsAPIReference/CriteoAdsFieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInAds/LinkedInAdsAPIReference/LinkedInAdsFieldsSchema.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/LinkedInPages/LinkedInPagesAPIReference/LinkedInPagesFieldsSchema.js
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/OpenExchangeRates/OpenExchangeRatesAPIReference/OpenExchangeRatesFieldsSchema.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/RedditAds/Helper.js
  packages/connectors/src/Sources/RedditAds/RedditAdsAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/TikTokAds/TikTokAdsAPIReference/TikTokAdsFieldsSchema.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/src/Sources/XAds/XAdsAPIReference/XAdsFieldsSchema.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat: move utils to top in clasp.json (#381)
  packages/connectors/src/Sources/BankOfCanada/.clasp.json
  packages/connectors/src/Sources/BingAds/.clasp.json
  packages/connectors/src/Sources/CriteoAds/.clasp.json
  packages/connectors/src/Sources/FacebookMarketing/.clasp.json
  packages/connectors/src/Sources/GitHub/.clasp.json
  packages/connectors/src/Sources/LinkedInAds/.clasp.json
  packages/connectors/src/Sources/LinkedInPages/.clasp.json
  packages/connectors/src/Sources/OpenExchangeRates/.clasp.json
  packages/connectors/src/Sources/RedditAds/.clasp.json
  packages/connectors/src/Sources/TikTokAds/.clasp.json
  packages/connectors/src/Sources/XAds/.clasp.json
  packages/connectors/src/Templates/PublicEndPoint/.clasp.json
  packages/connectors/src/Templates/Token-Based/.clasp.json
Due: prettier --write --config ./prettier.config.mjs

feat(web): improve connector configuration options (#382)
  .changeset/updated-connector-configuration-step.md
  apps/backend/src/data-marts/services/connector.service.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat: changelist for automatic migration mechanism for TypeORM entities (#385)
  .changeset/implement-migration-mechanism.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs
