Repository middas-0706/js-data-connectors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(destinations): implement auto-advancing promo tabs for Google Sheets, Excel, and MCP (#1608)
  .changeset/6798-destinations-tab-promo-tabs.md
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/useAutoAdvanceTabs.ts
  apps/web/src/shared/icons/icons.types.ts
  apps/web/src/shared/icons/index.ts
  apps/web/src/styles/index.css
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): allow configuring disconnected joined fields (#1609)
  .changeset/6951-configure-disconnected-join-fields.md
  apps/backend/src/data-marts/controllers/spec/data-mart.api.ts
  apps/backend/src/data-marts/dto/domain/blendable-schema.dto.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(ci): update release lockfile without reinstall (#1607)
  .github/workflows/release-pr.yml
Due: prettier --write --config ./prettier.config.mjs

Deploying to gh-pages from @ middas-0706/js-data-connectors@60b8e29bf6b0c6ef58e3391ab6cd3dc3df2f5aa6 🚀
  docs/getting-started/setup-guide/joinable-data-marts/index.html
  pagefind/fragment/en_26aa1bd.pf_fragment
  pagefind/fragment/en_f480f3a.pf_fragment
  pagefind/index/en_1a37f6d.pf_index
  pagefind/index/en_1f1672f.pf_index
  pagefind/index/en_25fb7c4.pf_index
  pagefind/index/en_3236ee5.pf_index
  pagefind/index/en_353b2d6.pf_index
  pagefind/index/en_3c2e2b0.pf_index
  pagefind/index/en_5b9675e.pf_index
  pagefind/index/en_634610f.pf_index
  pagefind/index/en_644ba07.pf_index
  pagefind/index/en_67b9591.pf_index
  pagefind/index/en_76ac3e7.pf_index
  pagefind/index/en_90b85fb.pf_index
  pagefind/index/en_95d7a0d.pf_index
  pagefind/index/en_a741fea.pf_index
  pagefind/index/en_aba2032.pf_index
  pagefind/index/en_b6d3bb7.pf_index
  pagefind/index/en_b6e5651.pf_index
  pagefind/index/en_b84b9cf.pf_index
  pagefind/index/en_bd6e489.pf_index
  pagefind/index/en_c1e2ea6.pf_index
  pagefind/index/en_c4d1274.pf_index
  pagefind/index/en_d3a2b09.pf_index
  pagefind/index/en_d500bac.pf_index
  pagefind/index/en_d555245.pf_index
  pagefind/index/en_e4aa851.pf_index
  pagefind/index/en_e9e49c4.pf_index
  pagefind/index/en_f06f421.pf_index
  pagefind/index/en_f97a1b9.pf_index
  pagefind/index/en_fa49d69.pf_index
  pagefind/index/en_fb1a1ee.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_85ce5ac437.pf_meta
  pagefind/pagefind.en_944f3b9de8.pf_meta
Due: prettier --write --config ./prettier.config.mjs

feat(facebook): select conversions and conversion values by default (#1611)
  .changeset/6903-facebook-marketing-default-conversion-fields.md
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/FieldsSchema.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-adset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-age-and-gender.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-campaign.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-country.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-device-platform.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-link-url-asset.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-product-id.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-publisher-platform-and-position.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields-by-region.js
  packages/connectors/src/Sources/FacebookMarketing/MarketingAPIReference/ad-account-insights-fields.js
  packages/connectors/src/Sources/FacebookMarketing/TROUBLESHOOTING.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(google-sheets): name the first sheet of an auto-created document after the report (#1615)
  .changeset/6960-google-sheet-first-sheet-named-after-report.md
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.spec.ts
  apps/backend/src/data-marts/data-destination-types/google-sheets/adapters/google-sheets-api.adapter.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.spec.ts
  apps/backend/src/data-marts/use-cases/google-sheets/create-google-sheet-document.service.ts
  apps/backend/src/ee/mcp/tools/add-report.tool.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(destinations): add AI assistant promo card to Destinations tab (#1612)
  .changeset/6798-destinations-tab-ai-assistant-card.md
  apps/web/src/features/data-marts/reports/list/components/AiAssistantDestinationCard/AiAssistantDestinationCard.tsx
  apps/web/src/features/data-marts/reports/list/components/AiAssistantDestinationCard/index.ts
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  apps/web/src/features/data-marts/reports/list/components/index.ts
  apps/web/src/pages/data-marts/edit/DataMartDestinationsContent.tsx
  apps/web/src/pages/data-marts/reports/ConnectAiAssistantPromoActions.tsx
  apps/web/src/pages/data-marts/reports/DataMartReportsPage.tsx
  apps/web/src/shared/components/ConnectAiAssistantPromoActions/ConnectAiAssistantPromoActions.tsx
  apps/web/src/shared/components/ConnectAiAssistantPromoActions/index.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ middas-0706/js-data-connectors@9990b9b5ed991eaf4dbb93884b316dabb0405612 🚀
  docs/changelog/index.html
  pagefind/fragment/en_b6bb906.pf_fragment
  pagefind/fragment/en_ec99a9a.pf_fragment
  pagefind/index/en_15adbcc.pf_index
  pagefind/index/en_1a37f6d.pf_index
  pagefind/index/en_1f1672f.pf_index
  pagefind/index/en_2836137.pf_index
  pagefind/index/en_3c2e2b0.pf_index
  pagefind/index/en_3f3ebc1.pf_index
  pagefind/index/en_506ba9b.pf_index
  pagefind/index/en_5f88a8b.pf_index
  pagefind/index/en_644ba07.pf_index
  pagefind/index/en_67b9591.pf_index
  pagefind/index/en_76ac3e7.pf_index
  pagefind/index/en_833dabd.pf_index
  pagefind/index/en_90b85fb.pf_index
  pagefind/index/en_94ef5a4.pf_index
  pagefind/index/en_b0a784e.pf_index
  pagefind/index/en_b84b9cf.pf_index
  pagefind/index/en_ba12d36.pf_index
  pagefind/index/en_bd6e489.pf_index
  pagefind/index/en_c1e1ed9.pf_index
  pagefind/index/en_c1e2ea6.pf_index
  pagefind/index/en_c7adbd9.pf_index
  pagefind/index/en_d500bac.pf_index
  pagefind/index/en_d555245.pf_index
  pagefind/index/en_d7d5495.pf_index
  pagefind/index/en_e4aa851.pf_index
  pagefind/index/en_ed1e29e.pf_index
  pagefind/index/en_f2522d1.pf_index
  pagefind/index/en_f6ff942.pf_index
  pagefind/index/en_fa49d69.pf_index
  pagefind/index/en_fb1a1ee.pf_index
  pagefind/index/en_fefe1c4.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_85ce5ac437.pf_meta
  pagefind/pagefind.en_b076b8ade8.pf_meta
Due: prettier --write --config ./prettier.config.mjs

test(backend): ask for the row count aggregated reports no longer append (#1613)
  .github/workflows/test-integration.yml
  apps/backend/test/integration/row-level-calculated-field-real.integration.ts
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

chore(connectors): bump Criteo, LinkedIn, and Facebook API versions (#1617)
  .changeset/6965-current-connector-api-versions.md
  apps/web/src/features/connectors/shared/components/FacebookLoginButton/FacebookLoginButton.tsx
  packages/connectors/src/Sources/CriteoAds/CREDENTIALS.md
  packages/connectors/src/Sources/CriteoAds/GETTING_STARTED.md
  packages/connectors/src/Sources/CriteoAds/README.md
  packages/connectors/src/Sources/CriteoAds/Source.js
  packages/connectors/src/Sources/FacebookMarketing/CREDENTIALS.md
  packages/connectors/src/Sources/FacebookMarketing/ENDPOINTS_AND_FIELDS.md
  packages/connectors/src/Sources/FacebookMarketing/Source.js
  packages/connectors/src/Sources/LinkedInAds/Source.js
  packages/connectors/src/Sources/LinkedInPages/Source.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(connectors): pick the Google Sheets tab from a list and tidy the setup form (#1605)
  .changeset/6950-google-sheets-config-ux.md
  apps/backend/src/data-marts/connector-types/connector-field-options.ts
  apps/backend/src/data-marts/connector-types/connector-specification.ts
  apps/backend/src/data-marts/controllers/connector.controller.ts
  apps/backend/src/data-marts/controllers/oauth-flow-only.controller.spec.ts
  apps/backend/src/data-marts/controllers/spec/connector.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/dto/presentation/connector-field-option-response-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/connector-field-options-preview-request-api.dto.ts
  apps/backend/src/data-marts/dto/presentation/connector-specification-response-api.dto.ts
  apps/backend/src/data-marts/mappers/connector.mapper.ts
  apps/backend/src/data-marts/services/connector/connector-field-options-preview.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-field-options-preview.service.ts
  apps/backend/src/data-marts/services/connector/connector-fields-preview.service.ts
  apps/backend/src/data-marts/services/connector/connector-preview-support.ts
  apps/backend/src/data-marts/services/connector/connector.service.ts
  apps/backend/test/connector-fields.e2e-spec.ts
  apps/backend/test/connector-specification.e2e-spec.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationField/ConfigurationDynamicOptionsField.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationField/index.ts
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/ConfigurationFieldRender.tsx
  apps/web/src/features/connectors/edit/components/ConnectorEditForm/steps/ConfigurationStep/Oauth/OauthRenderFactory.tsx
  apps/web/src/features/connectors/shared/api/connector-api.service.ts
  apps/web/src/features/connectors/shared/api/types/response/connector.response.dto.ts
  apps/web/src/features/connectors/shared/enums/connector-specification-attribute.enum.ts
  apps/web/src/features/connectors/shared/model/hooks/useConnectorFieldOptions.test.tsx
  apps/web/src/features/connectors/shared/model/hooks/useConnectorFieldOptions.ts
  apps/web/src/features/connectors/shared/utils/dynamic-options.utils.test.ts
  apps/web/src/features/connectors/shared/utils/dynamic-options.utils.ts
  apps/web/src/shared/components/Combobox/combobox.tsx
  packages/connectors/CREATING_CONNECTOR.md
  packages/connectors/src/Constants/CommonConstants.js
  packages/connectors/src/Sources/GoogleSheets/GETTING_STARTED.md
  packages/connectors/src/Sources/GoogleSheets/README.md
  packages/connectors/src/Sources/GoogleSheets/Source.js
  packages/connectors/test/GoogleSheets.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

chore(backend): give ESLint the heap its type-aware rules need (#1618)
  apps/backend/package.json
Due: prettier --write --config ./prettier.config.mjs

fix(changeset): point the demo video at a cut that does not open on black (#1619)
  .changeset/6948-avoid-duplicates-in-reports.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(mcp): tell the agent to use a metric the Data Mart already computes (#6964) (#1621)
  .changeset/6964-mcp-prefers-ready-calculated-metrics.md
  apps/backend/src/ee/mcp/instructions/mcp-instructions.service.spec.ts
  apps/backend/src/ee/mcp/instructions/mcp-system-instructions.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.spec.ts
  apps/backend/src/ee/mcp/tools/data-mart-details.tool.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  docs/getting-started/setup-guide/calculated-fields.md
  docs/getting-started/setup-guide/mcp.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(ci): build the container image from packed tarballs, stop publishing snapshots to npm (#1627)
  .changeset/6977-pack-docker-image-without-npm-snapshot.md
  .dockerignore
  .github/workflows/publish.yml
  .gitignore
  Dockerfile
  docs/contributing/repository/release-strategy.md
  tools/pack-owox-image-packages.mjs
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Deploying to gh-pages from @ middas-0706/js-data-connectors@d53402ea58a720017b36984cf568fc5cafeee6fd 🚀
  docs/contributing/repository/release-strategy/index.html
  pagefind/fragment/en_d55c388.pf_fragment
  pagefind/fragment/en_e438aeb.pf_fragment
  pagefind/index/en_109bf5e.pf_index
  pagefind/index/en_169eb5d.pf_index
  pagefind/index/en_2b91c7f.pf_index
  pagefind/index/en_34ba63a.pf_index
  pagefind/index/en_3fe4bcd.pf_index
  pagefind/index/en_44bd1d9.pf_index
  pagefind/index/en_49c9236.pf_index
  pagefind/index/en_4b31faa.pf_index
  pagefind/index/en_53f934f.pf_index
  pagefind/index/en_5832dfc.pf_index
  pagefind/index/en_5b5abb5.pf_index
  pagefind/index/en_5f6d5fe.pf_index
  pagefind/index/en_60af6c6.pf_index
  pagefind/index/en_67ada8b.pf_index
  pagefind/index/en_682db81.pf_index
  pagefind/index/en_696dbbd.pf_index
  pagefind/index/en_7fdbc95.pf_index
  pagefind/index/en_805158c.pf_index
  pagefind/index/en_828d3b2.pf_index
  pagefind/index/en_a3759ea.pf_index
  pagefind/index/en_b0e2f8d.pf_index
  pagefind/index/en_b2a75f2.pf_index
  pagefind/index/en_b6afa94.pf_index
  pagefind/index/en_d24991e.pf_index
  pagefind/index/en_d9a4e17.pf_index
  pagefind/index/en_d9bbada.pf_index
  pagefind/index/en_ebd4512.pf_index
  pagefind/index/en_f7c218b.pf_index
  pagefind/index/en_f9ea9d3.pf_index
  pagefind/index/en_fcb57c2.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5f995259b1.pf_meta
  pagefind/pagefind.en_fb46be4e6f.pf_meta
Due: prettier --write --config ./prettier.config.mjs

fix(data-marts): save the automatic aggregation as a chosen one (#6971) (#1624)
  .changeset/6948-avoid-duplicates-in-reports.md
  apps/backend/src/data-marts/data-destination-types/enums/data-destination-type.enum.ts
  apps/backend/src/data-marts/services/auto-collapse-opt-in.spec.ts
  apps/backend/src/data-marts/services/auto-collapse.resolver.ts
  apps/backend/src/data-marts/services/data-mart-run.service.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.spec.ts
  apps/backend/src/data-marts/use-cases/get-report-generated-sql.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.spec.ts
  apps/backend/src/data-marts/use-cases/stream-http-data.service.ts
  apps/web/src/features/data-destination/shared/enums/data-destination-type.enum.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationEditorPopover.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/AggregationSettingsDropdown.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowAggregationIcon.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/RowAggregationIcon.tsx
  apps/web/src/features/data-marts/reports/edit/components/EmailReportEditForm/EmailReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/ReportEditForm/ReportEditForm.tsx
  apps/web/src/features/data-marts/reports/edit/components/shared/ReportFormActions.test.tsx
  apps/web/src/features/data-marts/reports/edit/components/shared/ReportFormActions.tsx
  apps/web/src/features/data-marts/reports/edit/hooks/usePendingAutoAggregation.ts
  apps/web/src/features/data-marts/shared/utils/auto-collapse.ts
  docs/getting-started/setup-guide/report-aggregations.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(destinations): allow creating Microsoft Excel destinations (#1622)
  .changeset/6966-excel-destination-manual-creation.md
  apps/backend/src/data-marts/facades/mcp-destination-type.ts
  apps/backend/src/ee/mcp/tools/add-destination.tool.spec.ts
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.test.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DataDestinationForm.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.test.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/DestinationTypeField.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/ExcelDescription.tsx
  apps/web/src/features/data-destination/edit/components/DataDestinationEditSheet/DataDestinationConfigSheet.tsx
  apps/web/src/features/data-destination/shared/enums/data-destination-type.enum.ts
  apps/web/src/features/data-destination/shared/types/data-destination-type.model.ts
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  docs/destinations/manage-destinations.md
  docs/destinations/supported-destinations/microsoft-excel.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): cap manual backfill at 31 days per run (#1628)
  .changeset/6953-manual-backfill-31-day-limit.md
  .github/workflows/test-owox.yml
  apps/backend/src/data-marts/dto/presentation/run-data-mart-request-api.dto.ts
  apps/backend/src/data-marts/services/connector/connector-run.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-run.service.ts
  apps/backend/src/data-marts/utils/manual-backfill-range.spec.ts
  apps/backend/src/data-marts/utils/manual-backfill-range.ts
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunForm.test.tsx
  apps/web/src/features/connectors/edit/components/ConnectorRunSheet/ConnectorRunForm.tsx
  apps/web/src/features/connectors/shared/constants/manual-backfill.test.ts
  apps/web/src/features/connectors/shared/constants/manual-backfill.ts
  docs/api/api-client.md
  docs/getting-started/setup-guide/connector-data-mart.md
  packages/connectors/src/Constants/CommonConstants.js
  packages/connectors/src/Core/AbstractConnector.js
  packages/connectors/test/Core/AbstractConnector.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(reports): add soft deletion (#1623)
  .changeset/6050-report-soft-delete.md
  apps/backend/src/data-marts/controllers/spec/report.api.ts
  apps/backend/src/data-marts/data-marts.module.ts
  apps/backend/src/data-marts/entities/report.entity.ts
  apps/backend/src/data-marts/search/sources/report.source.spec.ts
  apps/backend/src/data-marts/search/sources/report.source.ts
  apps/backend/src/data-marts/services/looker-studio-report.service.ts
  apps/backend/src/data-marts/services/report-data-cache.service.spec.ts
  apps/backend/src/data-marts/services/report-data-cache.service.ts
  apps/backend/src/data-marts/services/report-run.service.ts
  apps/backend/src/data-marts/services/report.service.spec.ts
  apps/backend/src/data-marts/services/report.service.ts
  apps/backend/src/data-marts/use-cases/create-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/create-report.service.ts
  apps/backend/src/data-marts/use-cases/delete-report.search-index.spec.ts
  apps/backend/src/data-marts/use-cases/delete-report.service.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/move-legacy-data-storage.service.spec.ts
  apps/backend/src/data-marts/use-cases/legacy-data-marts/move-legacy-data-storage.service.ts
  apps/backend/src/data-marts/use-cases/run-report.service.spec.ts
  apps/backend/src/data-marts/use-cases/run-report.service.ts
  apps/backend/src/ee/mcp/tools/delete-report.tool.ts
  apps/backend/src/migrations/1779200000000-migrate-prejoin-filter-to-unified-column.ts
  apps/backend/src/migrations/1789646400000-add-soft-delete-to-report.ts
  apps/backend/src/migrations/report-soft-delete.migration.spec.ts
  apps/backend/test/error-handling.e2e-spec.ts
  apps/backend/test/looker-studio-connector.e2e-spec.ts
  apps/backend/test/report-soft-delete.e2e-spec.ts
  docs/getting-started/setup-guide/mcp.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(destinations): link the Excel help block to the Microsoft Marketplace listing (#1634)
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/ExcelDescription.tsx
Due: none

fix(data-marts): a hidden column is not a broken schema (#6925) (#1629)
  .changeset/6925-hidden-columns-are-not-disconnected.md
  apps/backend/src/data-marts/controllers/data-mart.controller.openapi.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.spec.ts
  apps/backend/src/data-marts/data-storage-types/data-mart-schema.utils.ts
  apps/backend/src/data-marts/dto/domain/blendable-schema.dto.ts
  apps/backend/src/data-marts/errors/disconnected-report-columns.error.spec.ts
  apps/backend/src/data-marts/errors/disconnected-report-columns.error.ts
  apps/backend/src/data-marts/services/blendable-schema.service.spec.ts
  apps/backend/src/data-marts/services/blendable-schema.service.ts
  apps/backend/src/data-marts/services/blended-report-data.service.spec.ts
  apps/backend/src/data-marts/services/blended-report-data.service.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.spec.ts
  apps/backend/src/data-marts/services/output-controls-validator.service.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.spec.ts
  apps/backend/src/ee/mcp/tools/query-data-mart.tool.ts
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/OutputSettingsButton.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.test.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/ReportColumnPicker.tsx
  apps/web/src/features/data-marts/edit/components/ReportColumnPicker/output-controls-display.ts
  apps/web/src/features/data-marts/shared/types/relationship.types.ts
  apps/web/src/features/data-marts/shared/utils/flatten-native-fields.ts
  docs/getting-started/setup-guide/output-controls.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(data-marts): resume interrupted backfills from the last loaded day (#1632)
  .changeset/6888-resume-manual-backfill.md
  apps/backend/src/data-marts/services/connector/connector-executor.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-executor.service.ts
  apps/backend/src/data-marts/services/connector/connector-source-config.service.spec.ts
  apps/backend/src/data-marts/services/connector/connector-source-config.service.ts
  apps/backend/src/data-marts/utils/manual-backfill-range.spec.ts
  apps/backend/src/data-marts/utils/manual-backfill-range.ts
  docs/getting-started/setup-guide/connector-data-mart.md
  packages/connectors/CONTRIBUTING.md
  packages/connectors/src/Sources/BankOfCanada/Connector.js
  packages/connectors/src/Sources/CriteoAds/Connector.js
  packages/connectors/src/Sources/FacebookMarketing/Connector.js
  packages/connectors/src/Sources/GoogleAds/Connector.js
  packages/connectors/src/Sources/LinkedInAds/Connector.js
  packages/connectors/src/Sources/LinkedInPages/Connector.js
  packages/connectors/src/Sources/MicrosoftAds/Connector.js
  packages/connectors/src/Sources/OpenExchangeRates/Connector.js
  packages/connectors/src/Sources/OpenHolidays/Connector.js
  packages/connectors/src/Sources/RedditAds/Connector.js
  packages/connectors/src/Sources/Shopify/Connector.js
  packages/connectors/src/Sources/TikTokAds/Connector.js
  packages/connectors/src/Sources/XAds/Connector.js
  packages/connectors/test/Sources/CriteoAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/GoogleAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/LinkedInAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/MicrosoftAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/RedditAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/Shopify/perDayCheckpoint.test.js
  packages/connectors/test/Sources/TikTokAds/perDayCheckpoint.test.js
  packages/connectors/test/Sources/XAds/perDayCheckpoint.test.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changelog): escape a placeholder that breaks Markdownlint on main (#1640)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): make Output Schema row separators visible in the dark theme (#1635)
  .changeset/6981-output-schema-dark-theme-row-separators.md
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/border-on-muted-token.test.ts
  packages/ui/src/styles/globals.css
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(web): wrap long field descriptions in the Output Schema (#1636)
  .changeset/6982-output-schema-description-wrap.md
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/fields/SchemaFieldDescriptionText.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/fields/SchemaFieldDescriptionText.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/components/fields/index.ts
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BaseSchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/BigQuerySchemaTable.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/tables/SchemaTable.tsx
  apps/web/src/shared/types/tanstack-table.ts
  packages/ui/src/components/common/editable-text.tsx
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

feat(web): add a "Without relationships" filter and field alias/description labels to the Models canvas (#1637)
  .changeset/6983-models-canvas-unconnected-filter-and-field-labels.md
  apps/docs/astro.config.mjs
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipCanvas.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvas.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasFlowNode.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.test.tsx
  apps/web/src/features/data-marts/model-canvas/components/ModelCanvasToolbar.tsx
  apps/web/src/features/data-marts/model-canvas/model/erd-node.test.ts
  apps/web/src/features/data-marts/model-canvas/model/erd-node.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/filter-canvas-data.test.ts
  apps/web/src/features/data-marts/model-canvas/model/graph/filter-canvas-data.ts
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas-filters.test.tsx
  apps/web/src/features/data-marts/model-canvas/model/use-model-canvas-filters.ts
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.test.tsx
  apps/web/src/features/data-marts/shared/canvas/canvas-settings-panel.tsx
  apps/web/src/features/data-marts/shared/canvas/erd-fields-section.tsx
  apps/web/src/features/data-marts/shared/canvas/erd-fields.test.ts
  apps/web/src/features/data-marts/shared/canvas/erd-fields.ts
  apps/web/src/features/data-marts/shared/canvas/object-labels.test.ts
  apps/web/src/features/data-marts/shared/canvas/object-labels.ts
  docs/getting-started/setup-guide/models-canvas-export.md
  docs/getting-started/setup-guide/models-canvas.md
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(data-marts): keep the joined data mart card open while its description autosaves (#1638)
  .changeset/6984-relationship-description-autosave-keeps-row-open.md
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/DataMartRelationshipsContent.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/JoinSettingsForm.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartRelationships/RelationshipAccordionItem.tsx
  docs/getting-started/setup-guide/joinable-data-marts.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(changelog): add the 0.35.0 what's-new video (#1645)
  apps/owox/CHANGELOG.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(changelog): render entry titles as bold instead of literal headings (#1646)
  apps/owox/CHANGELOG.md
  packages/api-client/CHANGELOG.md
  tools/fix-changelog-headings.mjs
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs, markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(excel): describe what a refresh keeps and what it rewrites (#6974) (#1639)
  docs/destinations/supported-destinations/microsoft-excel.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

fix(docs): keep embedded videos inside their list item (#1648)
  apps/docs/scripts/sync-docs.js
Due: eslint --config ./eslint.config.mjs, prettier --write --config ./prettier.config.mjs

feat(web): attribute Excel add-in Marketplace traffic by entry point (#1649)
  apps/web/src/features/data-destination/edit/components/DataDestinationEditForm/FormDescriptions/descriptions/ExcelDescription.tsx
  apps/web/src/features/data-marts/reports/list/components/EmptyDataMartDestinationsState/EmptyDataMartDestinationsState.tsx
  docs/destinations/supported-destinations/microsoft-excel.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

docs(data-marts): explain how to choose a Dedup for a joined field (#6956) (#1650)
  .changeset/6956-dedup-guide.md
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.test.tsx
  apps/web/src/features/data-marts/edit/components/DataMartSchemaSettings/SourceFieldsTable.tsx
  docs/getting-started/setup-guide/joinable-data-marts.md
  docs/getting-started/setup-guide/report-aggregations.md
Due: markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs

Path conditions:
  eslint --config ./eslint.config.mjs: any of: **/*.{js,ts,mjs}
  prettier --write --config ./prettier.config.mjs: ((any of: **/*.{js,ts,mjs}) or (any of: **/*.json)) or (any of: **/*.{yml,yaml})
  markdownlint-cli2 --fix --config ./.markdownlint-cli2.mjs: any of: **/*.md
